---
import Layout from '../layouts/Layout.astro'
import Testimonial from '@/components/Testimonial.astro'
import SlideTitle from '@/components/SlideTitle.astro'
import BigLinks from '@/components/BigLinks.astro'
import NightSplintSchema from '../schemas/NightSplintSchema.astro'
import RedCross from '@/components/icons/RedCross.astro'
import GreenTick from '@/components/icons/GreenTick.astro'
---

<NightSplintSchema slot="head" />

<Layout
    title="Achilles Tendon Rupture Night Splint"
    description="Thetis Medical's Achilles rupture night splint to make sleeping more pleasant and bearable. The brace straps to the leg to prevent further tendon injury."
    image="https://thetismedical.com/images/green-shell.png"
>
    <body data-barba="wrapper">
        <main data-barba="container" data-barba-namespace="splint">
            <section class="landing splint">
                <BigLinks active="night" />
                <h2 class="available-to">
                    DESIGNED ALONGSIDE SURGEONS TO IMPROVE ACHILLES RUPTURE
                    RECOVERY.
                </h2>
                <div class="product-display">
                    <img
                        src="/images/night-splint/achilles_rupture_night_splint_bed_thetis_medical.jpg"
                        alt="Night Splint Render"
                    />
                    <div class="product-desc">
                        <h1>Achilles Rupture Night Splint</h1>
                        <a
                            target="blank"
                            href="https://www.brace-yourself.co.uk/foot-and-ankle-c7/thetis-medical-achilles-tendon-rupture-night-splint-p82"
                            id="order-night-product"
                            class="explore landing order-night-product"
                            >Buy on Amazon</a
                        >
                        <div id="stars">
                            <img src="/images/4.7-Stars.svg" alt="4.7 Stars" />
                        </div>
                    </div>
                </div>
                <p class="splint-intro">
                    The ONLY splint for post Achilles rupture recovery. Aimed to
                    improve sleep and make recovery more comfortable.
                </p>
            </section>
            <section class="slide col">
                <SlideTitle title="Intended Use" />
                <div class="intro large">
                    <p>
                        Night-time splint to ensure the foot is kept in plantar
                        flexion (foot pointed down) for the first 3 months after
                        an Achilles tendon tear.
                    </p>
                </div>
            </section>
            <section id="testimonials" class="slide col">
                <SlideTitle title="Testimonials" />
                <div class="quote-wrap">
                    <img
                        loading="lazy"
                        src="/images/quote-mark.svg"
                        alt="quote-mark"
                    />
                    <div class="quote">
                        <p>Simply brilliant - and brilliantly simple</p>
                        <div class="divider"></div>
                        <h3>Clinical Director, London Foot and Ankle Centre</h3>
                    </div>
                </div>
                <div class="more-reviews">
                    <h3>
                        <a href="#more-reviews">More Testimonials</a>
                    </h3>
                </div>
            </section>
            <section id="problem" class="slide col">
                <SlideTitle title="Problem" />
                <p class="intro large">
                    Currently, patients wear a large, outdoor, orthopaedic boot,
                    day and night, for the 10 week rehabillitation. This is
                    analagous to wearing hiking boots for 10 weeks, and sleeping
                    in them...
                </p>
                <p class="intro large">Patients find these boots:</p>
                <div class="bullet-wrap">
                    <div class="bullet-points">
                        <div class="boot-point">
                            <RedCross />
                            <p>Hot</p>
                        </div>
                        <div class="boot-point">
                            <RedCross />
                            <p>Dirty</p>
                        </div>
                    </div>
                    <div class="bullet-points">
                        <div class="boot-point">
                            <RedCross />
                            <p>Uncomfortable</p>
                        </div>
                        <div class="boot-point">
                            <RedCross />
                            <p>Heavy</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Statistics -->

            <section id="statistics" class="slide col">
                <SlideTitle title="Statistics" />
                <p class="intro large">
                    78% of patients found sleeping in the boot difficult and
                    would therefore benefit from our night splint.
                </p>
                <div class="sleep-pie">
                    <img
                        loading="lazy"
                        class="pie"
                        src="/images/sleeping-piechart-donut.svg"
                        alt="Pie Chart of Patient's Sleep post Achilles Rupture"
                    />
                    <img
                        loading="lazy"
                        class="key"
                        src="/images/sleeping-piechart-key.svg"
                        alt="Pie Chart key of Patient's Sleep post Achilles Rupture"
                    />
                </div>
            </section>

            <section id="solution" class="slide col">
                <SlideTitle title="Solution (Patent Pending)" />
                <p class="intro large">
                    By sleeping and resting in a lightweight, comfort-focused
                    splint, recovery becomes more bearable.
                </p>
                <div class="product-solution"></div>
                <div class="bullet-wrap">
                    <div class="bullet-points">
                        <div class="boot-point">
                            <GreenTick />
                            <p>Cool</p>
                        </div>
                        <div class="boot-point">
                            <GreenTick />
                            <p>Contoured</p>
                        </div>
                    </div>
                    <div class="bullet-points">
                        <div class="boot-point">
                            <GreenTick />
                            <p>Lightweight</p>
                        </div>
                        <div class="boot-point">
                            <GreenTick />
                            <p>Slim-line</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Instructions -->

            <section class="slide col">
                <SlideTitle title="Instructions" />
                <div class="warnings">
                    <h4>DO NOT STAND OR WALK IN THE SPLINT.</h4>
                    <h4>DO NOT OVERTIGHTEN THE STRAPS.</h4>
                </div>
                <div class="instructions-wrap">
                    <div class="instruction">
                        <p>
                            1. 1. Point toes then place shell on leg. Ensure you
                            cover foot but not toes. Fastening patch sits over
                            ankle joint.
                        </p>
                        <img
                            class="instruction-img"
                            loading="lazy"
                            src="/images/night-splint/instruction-1.svg"
                            alt="instructions image 1"
                        />
                    </div>
                    <div class="instruction">
                        <p>
                            2. Do up leg and foot straps firmly but not too
                            tight.
                        </p>
                        <img
                            class="instruction-img"
                            loading="lazy"
                            src="/images/night-splint/instruction-2.svg"
                            alt="instructions image 2"
                        />
                    </div>
                </div>
                <div class="instructions-wrap">
                    <div class="instruction">
                        <p>
                            3. Position heel in hole of the final (ankle) strap.
                        </p>
                        <img
                            class="instruction-img"
                            loading="lazy"
                            src="/images/night-splint/instruction-3.svg"
                            alt="instructions image 3"
                        />
                    </div>
                    <div class="instruction">
                        <p>4. Fasten firmly but not too tight.</p>
                        <img
                            class="instruction-img"
                            loading="lazy"
                            src="/images/night-splint/instruction-4.svg"
                            alt="instructions image 4"
                        />
                    </div>
                </div>
            </section>

            <!-- Sizing -->

            <section class="slide col">
                <SlideTitle title="Sizing" />
                <img
                    loading="lazy"
                    class="size-chart"
                    src="/images/size-chart.svg"
                    alt="Size Chart"
                />
            </section>

            <!-- Downloads -->

            <section class="slide col">
                <SlideTitle title="Downloads" />
                <div class="downloads-wrap">
                    <div class="intro large download">
                        <a
                            href="/images/documents/screen-instructions-induvidual.pdf"
                            target="_blank">Instructions.pdf</a
                        >
                    </div>
                    <div class="intro large download">
                        <a
                            href="/images/documents/information-brochure-night-splint.pdf"
                            target="_blank">Night Splint Brochure.pdf</a
                        >
                    </div>
                </div>
            </section>

            <!-- Testimonials -->

            <!-- <section id="testimonials" class="slide col">
        <SlideTitle title="Testimonials" />

        <div id="more-reviews"></div>
        <Testimonial
          name="Andrew Lawrence"
          description="Team GB Basketball Player"
          image="andrew-lawrence.png"
        >
          "I recently began using the Thetis Night Splint overnight. My regular
          boot is good for daily use but very heavy and uncomfortable to sleep
          in - the night splint has been revolutionary for me! It keeps my foot
          perfectly in place but without being bulky, meaning I can sleep more
          comfortably with no fear of hurting my Achilles tendon. I would highly
          recommend everyone and anyone to use this product during your recovery
          from Achilles rupture."
        </Testimonial>

        <Testimonial
          name="Olivia Blatch"
          description="Team GB Weightlifter"
          image="olivia-blatch.png"
        >
          "The Thetis Night Splint is a lot slimmer and far more lightweight
          than the orthopaedic boot I was sleeping in. It allows me to move my
          leg more freely but still stops me from flexing my toes beyond a
          certain point, which is ideal whilst the tendon heals. The splint even
          comes in my favourite colour, so I was sold the minute I saw it!"
        </Testimonial>

        <Testimonial
          name="Mr James Davis"
          description="Past President of the British Orthopaedic Foot and Ankle Society"
          image="mr-james-davis.png"
        >
          "When I tore my own Achilles tendon, the hardest part of the recovery
          was having to wear the hospital boot in bed at night for many weeks.
          My only option was to make myself a splint using plaster-cast
          materials and make-shift straps. It is fantastic that Thetis Medical
          have produced this night-splint. It is certain to improve the recovery
          experience for patients."
        </Testimonial>
      </section> -->

            <section class="slide col">
                <SlideTitle title="FAQs" />
                <div class="faqs">
                    <h4>Can you use the splint for Achilles tendonitis?</h4>
                    <p>
                        No, the splint is only used after rupture of the
                        Achilles tendon. It is not suitable for broken bones,
                        plantar fasciitis or Achilles tendonitis. The splint
                        holds the foot pointed downwards, in a tip toe position,
                        for tendon healing. For other conditions, like plantar
                        fasciitis and Achilles tendonitis, there are different
                        splints deliberately designed to do the opposite, and
                        hold the foot up.
                    </p>
                    <h4>Can you use the splint instead of a boot?</h4>
                    <p>
                        Yes, it is designed as an alternative - but ONLY for use
                        when resting. You cannot walk or stand in the splint
                        without crutches.
                    </p>
                    <h4>Is the sizing accurate?</h4>
                    <p>
                        Yes, the sizing is accurate. Sizing is based on foot
                        size, designed to ensure that the splint does not
                        interfere with the toes.
                    </p>
                </div>
            </section>
        </main>
    </body>
</Layout>
