---
import Layout from '../layouts/Layout.astro'
import Article from '@/components/Article.astro'
import Subscribe from '@/components/Subscribe.astro'
---

<Layout
    title="Rehabillitation Process after Achilles Rupture"
    description="A comprehensive guide on torn achilles reovery including recovery time with and without surgery, casts vs boots and sleeping during recovery."
    image="https://thetismedical.com/images/achilles-drawing-image.png"
>
    <main data-barba="container" data-barba-namespace="home">
        <Article title="Achilles Rupture Recovery Pathway" />
        <section id="pathway-slide" class="slide pathway-info">
            <h2>Your Recovery from Achilles Tendon Rupture</h2>
            <p>
                If you are reading this, then you have almost certainly suffered
                a rupture (or tear – the two words mean the same thing) of your
                Achilles tendon.
            </p>
            <b
                >N.B. If someone has suggested that you might have a “partial
                tear” then get if checked. Partial tears are incredibly rare.
                Failing to treat a full tear properly can have serious
                consequences.</b
            >
            <p>
                The outcome after Achilles rupture is extremely good, but the
                recovery is ALWAYS long. Ten weeks in a supportive boot and then
                months of physiotherapy exercises. It will be a minimum of six
                months before you can consider any competitive sport.
            </p>
            <h3>Phases of Recovery</h3>
            <p>There are FOUR PHASES to your recovery:</p>

            <div class="phase">
                <h4>
                    <span>Phase 1</span> - First Aid, provisional diagnosis and limb
                    splintage
                </h4>
                <p>
                    In the Emergency Department you will be assessed. If an
                    Achilles rupture seems likely then your leg will be splinted
                    in a tip-toe position (deliberately) with plaster or a
                    special support. You need crutches and should discuss using
                    blood thinners to protect you against thrombosis (blocked
                    veins that can be dangerous if they affect the heart or
                    lungs).
                </p>
                <p>
                    The specialist team will be alerted and an appointment made
                    to plan the next steps for your treatment.
                </p>
                <span
                    >N.B. Do NOT walk upon or remove the protective healing.</span
                >
            </div>
            <div class="phase">
                <h4>
                    <span>Phase 2</span> - Specialist assessment for treatment planning
                </h4>
                <p>
                    After assessment by your specialist (and a scan if advised)
                    you will either be offered surgery (~10%) or advised that an
                    excellent outcome with non-surgical treatment is expected
                    (~90%).
                </p>
                <p>
                    The best evidence available shows that in 90% of cases no
                    surgery is required. The tendon heals well, as long as the
                    two torn ends are close together. A scan can be useful to
                    check this.
                </p>
                <p>
                    You will be fitted with a boot or plaster that continues to
                    hold you in the tip-toe position. Further blood thinners to
                    protect against thrombosis may be prescribed. Usually, you
                    are allowed to walk on the boot at this stage, but you MUST
                    maintain the tip-toe position at all times. When you take
                    the boot off for a (very careful) wash, only do so whilst
                    seated.
                </p>
                <b>N.B. One mistake can take you right back to square one.</b>
            </div>
            <div class="phase">
                <h4><span>Phase 3</span> - Adjusting your boot</h4>
                <p>
                    After about 5 weeks you will begin (following review in
                    clinic or with instructions) to adjust your boot. There are
                    different boot designs, but broadly speaking they either
                    have a hinge which can be gradually unlocked or heel wedges
                    that are removed, layer by layer, to reduce the degree of
                    tip-toes.
                </p>
                <b
                    >N.B. Tiptoe position MUST still be maintained at ALL times.
                    If the position is lost then the tendon will stretch or tear
                    again.</b
                >
            </div>
            <div class="phase">
                <h4>
                    <span>Phase 4</span> - Physio, freedom and the slow return to
                    normal
                </h4>
                <p>
                    After ten weeks have elapsed you rely less upon the boot (it
                    is still wise to use it in crowded or unpredictable
                    situations) and physiotherapy commences. The aim is to
                    improve the power in the calf muscle, which is quite thin by
                    this time. You should NOT do stretches (even if the tendon
                    feels tight) for many months. The tendon remains a little
                    soft for ages, so if you stretch it then the tendon
                    elongates and the leg does not work quite as well as it
                    should.
                </p>
                <b
                    >N.B. Full recovery takes many months. The injured tendon
                    will be permanently a little thickened and the calf muscle a
                    bit thinner than it used to be (but powerful enough to work
                    perfectly well).
                </b>
            </div>
        </section>
        <section class="snakes-and-ladders pathway">
            <h2>A Game of Snakes and Ladders</h2>
            <h3>Toes down at all times, day and night, 24/7</h3>
            <p>
                Recovery is a game of Snakes and Ladders. Each week brings
                progress, but one mistake can set you <b
                    >right back to square one.</b
                >
            </p>
            <img
                src="/images/documents/Achilles Rupture Snakes and Ladders.png"
                alt="Achilles Rupture Snakes and Ladders"
            />
        </section>
        <p>
            <b>CAUTION:</b> Your foot only needs to come up ONCE to “hit a snake”
            and go right back to square one. This is because if your foot comes up,
            the torn ends of the tendon pull apart again. Be seated and maintain
            tip toe position e.g. when boot off for washing.
        </p>
    </main>
    <section class="slide col downloads">
        <div class="slide-title">
            <div class="divider"></div>
            <h2>Downloads</h2>
            <div class="divider"></div>
        </div>
        <div class="downloads-wrap">
            <h2>Information for Patients</h2>
            <ul class="intro large download">
                <li>
                    <a
                        href="/images/documents/Achilles Rupture Information Sheet.pdf"
                        target="_blank"
                        >Achilles Rupture Information Sheet.pdf</a
                    >
                </li>
                <li>
                    <a
                        href="/images/documents/A Game of Snakes and Ladders Poster.pdf"
                        target="_blank"
                        >A Game of Snakes and Ladders Poster.pdf</a
                    >
                </li>
            </ul>
        </div>
    </section>
    <section class="slide col">
        <h2>Check out our night splint to improve sleep during recovery:</h2>
        <div class="other-articles btn">
            <a href="../night-splint" class="explore article-to-night-splint"
                >Achilles Rupture Night Splint</a
            >
        </div>
    </section>
    <Subscribe />
</Layout>
