---
import {Image} from 'astro:assets';
import AchillesRuptureDrawing from '@/assets/drawings/achilles-drawing.svg';
import ColorGradient from '../ColorGradient.astro';
export interface Props {
    title: string
}
import { buttonVariants } from '@/components/ui/button';
import { cn } from '@/lib/utils';

const { title } = Astro.props
---
<section class="faq-landing">
    <div class="faq-words">
        <h1 class="lg:pt-6">{title}</h1>
        <div>
            <h3>Get the full eBook on Achilles tendon ruptures FREE.</h3>
        </div>
            <a href="#subscribe" class={cn(buttonVariants({ variant: "default", size: "lg" }), "w-full sm:w-auto")}
                >Get the eBook</a
            >
        <h4 class="matthew-solan">
            Written by <a
                target="_blank"
                itemprop="author"
                href="https://www.londonfootandanklecentre.co.uk/staff/matthew-solan/"
                >Matthew Solan</a
            >.<br />Achilles rupture expert and orthopedic surgeon.
        </h4>
    </div>
    <Image class="lg:block hidden" height={600} width={450} src={AchillesRuptureDrawing} alt="achilles-drawing" />
</section>

