---
import {Image} from 'astro:assets';
import AchillesRuptureDrawing from '@/assets/drawings/achilles-drawing.svg';
export interface Props {
    title: string
}

const { title } = Astro.props
---

<section class="faq-landing">
    <div class="faq-words">
        <h1 class="lg:pt-6">{title}</h1>
        <div>
            <h3>Get the full eBook on Achilles tendon ruptures FREE.</h3>
        </div>
        <div class="go-to-subscribe">
            <a href="#subscribe" class="go-to-subscribe explore"
                >Get the eBook</a
            >
        </div>
        <h4 class="matthew-solan">
            Written by <a
                target="_blank"
                itemprop="author"
                href="https://www.londonfootandanklecentre.co.uk/staff/matthew-solan/"
                >Matthew Solan</a
            >.<br />Achilles rupture expert and orthopedic surgeon.
        </h4>
    </div>
    <Image height={600} width={450} src={AchillesRuptureDrawing} alt="achilles-drawing" />
</section>
