---
import mattImage from '../assets/faces/matthew-solan.png'
const { imageAlt } = Astro.props
---

<div class="author">
    <img class="blog-face" src={mattImage.src} alt={imageAlt} />
    <div class="author-words">
        <h4>
            <span>
                <a
                    target="_blank"
                    itemprop="author"
                    href="https://www.londonfootandanklecentre.co.uk/staff/matthew-solan/"
                >
                    Matthew Solan, Orthopedic surgeon
                </a>
            </span>
        </h4>
        <h5>BSc, MBBS, FRCS (Trauma & Orthopaedics)</h5>
    </div>
</div>
