<div id="product-component-1749143735532"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
        var scriptURL =
            "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
        if (window.ShopifyBuy) {
            if (window.ShopifyBuy.UI) {
                ShopifyBuyInit();
            } else {
                loadScript();
            }
        } else {
            loadScript();
        }
        function loadScript() {
            var script = document.createElement("script");
            script.async = true;
            script.src = scriptURL;
            (
                document.getElementsByTagName("head")[0] ||
                document.getElementsByTagName("body")[0]
            ).appendChild(script);
            script.onload = ShopifyBuyInit;
        }
        function ShopifyBuyInit() {
            var client = ShopifyBuy.buildClient({
                domain: "f560c3-4.myshopify.com",
                storefrontAccessToken: "784883c28d6484a8804b44ae00adfb99",
            });
            ShopifyBuy.UI.onReady(client).then(function (ui) {
                ui.createComponent("product", {
                    id: "8572432253256",
                    variantId: "47494539673928",
                    node: document.getElementById(
                        "product-component-1749143735532",
                    ),
                    moneyFormat: "%C2%A3%7B%7Bamount%7D%7D",
                    options: {
                        product: {
                            styles: {
                                product: {
                                    "@media (min-width: 601px)": {
                                        "max-width": "calc(25% - 20px)",
                                        "margin-left": "20px",
                                        "margin-bottom": "50px",
                                    },
                                },
                                title: {
                                    "font-family": "Raleway, sans-serif",
                                    "font-weight": "normal",
                                    color: "#000000",
                                },
                                button: {
                                    "font-family": "Raleway, sans-serif",
                                    "font-weight": "bold",
                                    "font-size": "16px",
                                    "padding-top": "16px",
                                    "padding-bottom": "16px",
                                    ":hover": {
                                        "background-color": "#2c9473",
                                    },
                                    "background-color": "#31a480",
                                    ":focus": {
                                        "background-color": "#2c9473",
                                    },
                                    "border-radius": "14px",
                                    "padding-left": "50px",
                                    "padding-right": "50px",
                                },
                                quantityInput: {
                                    "font-size": "16px",
                                    "padding-top": "16px",
                                    "padding-bottom": "16px",
                                },
                                price: {
                                    "font-family": "Raleway, sans-serif",
                                    color: "#000000",
                                },
                                compareAt: {
                                    "font-family": "Raleway, sans-serif",
                                    color: "#000000",
                                },
                                unitPrice: {
                                    "font-family": "Raleway, sans-serif",
                                    color: "#000000",
                                },
                            },
                            contents: {
                                img: false,
                                title: false,
                                price: false,
                                options: false,
                            },
                            text: {
                                button: "Add to cart",
                            },
                            googleFonts: ["Raleway"],
                            variantId: "47494539673928",
                        },
                        productSet: {
                            styles: {
                                products: {
                                    "@media (min-width: 601px)": {
                                        "margin-left": "-20px",
                                    },
                                },
                            },
                        },
                        modalProduct: {
                            contents: {
                                img: false,
                                imgWithCarousel: true,
                                button: false,
                                buttonWithQuantity: true,
                            },
                            styles: {
                                product: {
                                    "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px",
                                    },
                                },
                                button: {
                                    "font-family": "Raleway, sans-serif",
                                    "font-weight": "bold",
                                    "font-size": "16px",
                                    "padding-top": "16px",
                                    "padding-bottom": "16px",
                                    ":hover": {
                                        "background-color": "#2c9473",
                                    },
                                    "background-color": "#31a480",
                                    ":focus": {
                                        "background-color": "#2c9473",
                                    },
                                    "border-radius": "14px",
                                    "padding-left": "50px",
                                    "padding-right": "50px",
                                },
                                quantityInput: {
                                    "font-size": "16px",
                                    "padding-top": "16px",
                                    "padding-bottom": "16px",
                                },
                                title: {
                                    "font-family": "Helvetica Neue, sans-serif",
                                    "font-weight": "bold",
                                    "font-size": "26px",
                                    color: "#4c4c4c",
                                },
                                price: {
                                    "font-family": "Helvetica Neue, sans-serif",
                                    "font-weight": "normal",
                                    "font-size": "18px",
                                    color: "#4c4c4c",
                                },
                                compareAt: {
                                    "font-family": "Helvetica Neue, sans-serif",
                                    "font-weight": "normal",
                                    "font-size": "15.299999999999999px",
                                    color: "#4c4c4c",
                                },
                                unitPrice: {
                                    "font-family": "Helvetica Neue, sans-serif",
                                    "font-weight": "normal",
                                    "font-size": "15.299999999999999px",
                                    color: "#4c4c4c",
                                },
                            },
                            googleFonts: ["Raleway"],
                            text: {
                                button: "Add to cart",
                            },
                        },
                        option: {
                            styles: {
                                label: {
                                    "font-family": "Raleway, sans-serif",
                                },
                                select: {
                                    "font-family": "Raleway, sans-serif",
                                },
                            },
                            googleFonts: ["Raleway"],
                        },
                        cart: {
                            styles: {
                                button: {
                                    "font-family": "Raleway, sans-serif",
                                    "font-weight": "bold",
                                    "font-size": "16px",
                                    "padding-top": "16px",
                                    "padding-bottom": "16px",
                                    ":hover": {
                                        "background-color": "#2c9473",
                                    },
                                    "background-color": "#31a480",
                                    ":focus": {
                                        "background-color": "#2c9473",
                                    },
                                    "border-radius": "14px",
                                },
                                title: {
                                    color: "#000000",
                                },
                                header: {
                                    color: "#000000",
                                },
                                lineItems: {
                                    color: "#000000",
                                },
                                subtotalText: {
                                    color: "#000000",
                                },
                                subtotal: {
                                    color: "#000000",
                                },
                                notice: {
                                    color: "#000000",
                                },
                                currency: {
                                    color: "#000000",
                                },
                                close: {
                                    color: "#000000",
                                    ":hover": {
                                        color: "#000000",
                                    },
                                },
                                empty: {
                                    color: "#000000",
                                },
                                noteDescription: {
                                    color: "#000000",
                                },
                                discountText: {
                                    color: "#000000",
                                },
                                discountIcon: {
                                    fill: "#000000",
                                },
                                discountAmount: {
                                    color: "#000000",
                                },
                            },
                            text: {
                                total: "Subtotal",
                                button: "Checkout",
                            },
                            googleFonts: ["Raleway"],
                        },
                        toggle: {
                            styles: {
                                toggle: {
                                    "font-family": "Raleway, sans-serif",
                                    "font-weight": "bold",
                                    "background-color": "#31a480",
                                    ":hover": {
                                        "background-color": "#2c9473",
                                    },
                                    ":focus": {
                                        "background-color": "#2c9473",
                                    },
                                },
                                count: {
                                    "font-size": "16px",
                                },
                            },
                            googleFonts: ["Raleway"],
                        },
                        lineItem: {
                            styles: {
                                variantTitle: {
                                    color: "#000000",
                                },
                                title: {
                                    color: "#000000",
                                },
                                price: {
                                    color: "#000000",
                                },
                                fullPrice: {
                                    color: "#000000",
                                },
                                discount: {
                                    color: "#000000",
                                },
                                discountIcon: {
                                    fill: "#000000",
                                },
                                quantity: {
                                    color: "#000000",
                                },
                                quantityIncrement: {
                                    color: "#000000",
                                    "border-color": "#000000",
                                },
                                quantityDecrement: {
                                    color: "#000000",
                                    "border-color": "#000000",
                                },
                                quantityInput: {
                                    color: "#000000",
                                    "border-color": "#000000",
                                },
                            },
                        },
                    },
                });
            });
        }
    })();
    /*]]>*/
</script>
