---
import Social from '@/components/icons/socials/Social'
import Slide from '@/components/Slide.astro'
import FooterEmailCTA from '@/components/CTA/FooterEmailCTA.astro'
---

<!-- <section id="contact" class="footer"> -->
<Slide background="black">
    <div class="footer-words">
        <!-- <div class="footer-title">
                <a href="/contact"><h2>Contact</h2></a>
                <img src="/images/logo.svg" alt="Logo Image" />
            </div> -->
        <div class="links-row">
            <div class="links-column">
                <h3>Company</h3>
                <a href="../">Home</a>
                <a href="../professionals">Professionals</a>
                <a href="../contact">Contact Us</a>
                <a href="../sitemap">Sitemap</a>
                <h3>Products</h3>
                <a href="../night-splint">Achilles Rupture Night Splint</a>
                <a href="../trauma-splint">Achilles Rupture Trauma Splint</a>
            </div>
            <div class="links-column">
                <h3>Patient Guides</h3>
                <a href="../achilles-ruptures">Achilles Ruptures</a>
                <a href="../FAQs/achilles-rupture-timeline"
                    >Achilles Rupture Timeline</a
                >
                <a href="../FAQs/is-my-achilles-ruptured"
                    >Is my Achilles Ruptured?</a
                >
                <a href="../FAQs/what-happens-if-my-achilles-is-ruptured?"
                    >What happens if my Achilles is ruptured?</a
                >
                <a href="../FAQs/achilles-tear-treatment"
                    >Achilles Tear Treatment</a
                >
                <a href="../FAQs/torn-achilles-recovery"
                    >Torn Achilles Recovery</a
                >
                <a href="../FAQs/life-after-achilles-rupture"
                    >Life After Achilles Rupture</a
                >
                <a href="../evidence-based-recovery">Evidence Based Recovery</a>
            </div>
            <div
                class="flex flex-col space-y-8 md:space-y-4 items-center md:items-start"
            >
                <h3>Stay in Touch</h3>

                <FooterEmailCTA />
                <div class="flex gap-x-4 flex-wrap h-fit [&>a]:mt-0">
                    <Social color="white" mode="mail" />
                    <Social color="white" mode="linkedin" />
                    <Social color="white" mode="instagram" />
                    <Social color="white" mode="facebook" />
                </div>
                <a
                    href="mailto:info@thetismedical.com"
                    class="!font-semibold !text-md">info@thetismedical.com</a
                >
            </div>
        </div>
    </div>

    <p class="w-full text-center md:text-left text-white mt-8">
        &copy;Thetis Medical Ltd 2023
    </p>
</Slide>
