---
import Layout from "../../layouts/ArticleLayout.astro";
import LongReport from "../../components/blog/incidence/LongReport.astro";

const title = "Global Trends in the Incidence of Achilles Tendon Rupture";
const description =
    "Comprehensive analysis of global trends in Achilles tendon rupture incidence and the factors driving changes in occurrence rates.";
const createdAt = new Date("2025-05-25");
const tags = ["science", "guides"] as ("science" | "guides")[];
---

<Layout
    title={title}
    description={description}
    createdAt={createdAt}
    tags={tags}
>
    <main class="mx-auto px-4 py-8 container">
        <LongReport />
    </main>
</Layout>
