---
import Slide from "@/components/Slide.astro";
import Instruction from "./Instruction.astro";
import { AlertCircle, Info } from 'lucide-react';
import instruction1 from './instruction-1.svg';
import instruction2 from './instruction-2.svg';
import instruction3 from './instruction-3.svg';
import instruction4 from './instruction-4.svg';
---

<Slide title="Instructions">
    <div class="flex flex-col gap-8 mx-auto max-w-screen-lg">
    <div class="gap-4 grid grid-cols-1 md:grid-cols-2 p-4">
        <Instruction
            step="1"
            text="Point toes then place shell on leg. Ensure you cover foot but not toes. Fastening patch sits over ankle joint."
            imageSrc={instruction1}
            imageAlt="instructions image 1"
        />
        <Instruction
            step="2"
            text="Do up leg and foot straps firmly but not too tight."
            imageSrc={instruction2}
            imageAlt="instructions image 2"
        />
        <Instruction
            step="3"
            text="Position heel in hole of the final (ankle) strap."
            imageSrc={instruction3}
            imageAlt="instructions image 3"
        />
        <Instruction
            step="4"
            text="Fasten firmly but not too tight."
            imageSrc={instruction4}
            imageAlt="instructions image 4"
        />
    </div>
    <div class="flex md:flex-row flex-col justify-center items-center gap-4 mx-auto w-3/4 text-center">
            <div class="flex justify-center items-center space-x-2 bg-red-100 p-4 border border-red-300 rounded-md font-semibold text-neutral-800">
                <AlertCircle className="text-red-600" />
                <h4 class="text-lg text-red-800">DO NOT STAND OR WALK IN THE SPLINT.</h4>
            </div>
            <div class="flex justify-center items-center space-x-2 border-amber-300 bg-amber-100 p-4 border rounded-md font-semibold text-neutral-800">
                <Info className="text-amber-600" />
                <h4 class="text-amber-800 text-lg">DO NOT OVERTIGHTEN THE STRAPS.</h4>
            </div>
        </div>
    </div>
</Slide>