---
import { options } from "./options";
---

<div id='product-component-1734121818550'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'f560c3-4.myshopify.com',
      storefrontAccessToken: '784883c28d6484a8804b44ae00adfb99',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '8572432253256',
          variantId: '47494539673928',
        node: document.getElementById('product-component-1734121818550'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
          product:{
            option:{
              contents: {
                select: false,
                button: true,
              }
            }
          }
        }
      });
    });
  }
})();
/*]]>*/
</script>