---
import { buttonVariants } from "@/components/ui/button";
import Slide from "../Slide.astro";
import { cn } from "../../lib/utils";

interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph }: Props = Astro.props;
---

<Slide background="green">
    <form
        autocomplete="on"
        action="https://formspree.io/f/xbjvlval"
        method="POST"
        class="flex flex-col justify-center items-center space-y-8 my-8 w-full"
    >
        <div class="flex flex-col justify-center items-center space-y-3 w-full">
            <h2 class="font-semibold text-2xl">{title}</h2>
            <p class="text-gray-600 text-lg">{paragraph}</p>
        </div>

        <div class="flex gap-x-2 w-full max-w-sm">
            <input
                class="border-2 border-gray-500 bg-white px-2 py-2 rounded-lg w-full h-12 lg:h-14 font-light"
                required
                name="email"
                type="email"
                placeholder="Enter your email"
            />
            <button
                type="submit"
                value="send"
                class={cn(
                    buttonVariants({size: 'md' }),
                    'h-12 lg:h-14 md:w-24 lg:w-36'
                )}
            >
                Send <i data-lucide-name="send"></i>
            </button>
        </div>
    </form>
</Slide>
