---
import React from 'react';
import { Button } from "@/components/ui/button";
import Slide from "@/components/Slide.astro";
import { inputStyle } from "@/components/form/Input.astro";
interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph }: Props = Astro.props;
---

<Slide 
  className="relative bg-gradient-to-tr from-primary/70 via-primary/30 to-primary/50 shadow-lg hover:shadow-xl mx-auto rounded-[2rem] max-w-screen-lg transition-all duration-300 overflow-hidden group"
>
    <form
        autocomplete="on"
        action="https://formspree.io/f/xbjvlval"
        method="POST"
        class="relative z-10 flex flex-col justify-center items-center space-y-8 my-16 px-6 w-full h-full"
    >
        <div class="group-hover:scale-105 flex flex-col justify-center items-center space-y-4 w-full max-w-[650px] text-center transition-all duration-300">
            <h2 class="font-semibold text-3xl text-neutral-900 md:text-4xl">{title}</h2>
            <p class="max-w-[650px] text-lg text-neutral-700 md:text-xl">{paragraph}</p>
        </div>

        <div class="group-hover:scale-105 flex gap-x-3 w-full max-w-sm transition-all duration-300">
            <input 
                type="email"
                name="email"
                class:list={[inputStyle, 'h-14']}
                placeholder="Enter your email"
            />
            <Button
                type="submit"
                value="send"
                className="h-14 transition-all duration-300"
            >
                Subscribe <i data-lucide-name="arrow-right"></i>
            </Button>
        </div>
    </form>
</Slide>
