---
import { cn } from '../../lib/utils';
import { buttonVariants } from '@/components/ui/button';

interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph }: Props = Astro.props;
---

<div class="px-4">
    <section 
        class="relative bg-gradient-to-tr from-primary/50 via-primary/20 to-primary/30 shadow-lg hover:shadow-xl mx-auto px-12 md:px-16 rounded-[2rem] max-w-screen-xl transition-all duration-300 overflow-hidden group"
    >
        <form
            autocomplete="on"
            action="https://formspree.io/f/xbjvlval"
            method="POST"
            class="relative z-10 flex flex-col justify-center items-center space-y-8 my-16 px-6 w-full h-full"
        >
            <div class="group-hover:scale-102 flex flex-col justify-center items-center space-y-4 w-full max-w-[700px] text-center transition-all duration-300">
                <h2 class="font-semibold text-3xl text-neutral-900 md:text-4xl">{title}</h2>
                <p class="max-w-[650px] text-lg text-neutral-700 md:text-xl">{paragraph}</p>
            </div>

           <a href="/contact" class={cn(buttonVariants({ size: 'lg', variant: 'default' }))}>Get in touch</a>
        </form>
    </section>
</div>
