---
import FAQsLayout from '../../layouts/FAQsLayout.astro'
import Article from '../../components/Article.astro'
import OtherArticles from '../../components/OtherArticles.astro'
import Subscribe from '../../components/Subscribe.astro'
---

<FAQsLayout
    title="Achilles Rupture Timeline"
    description="A timeline for treatment and recovery of an Achilles Tendon Rupture, from injury to unrestricted activity."
>
    <section id="faq-slide" class="faq slide">
        <img
            src="/images/thetis-injury-timeline.svg"
            alt="Achilles Rupture Timeline"
        />
    </section>
</FAQsLayout>
