---
import { inputStyle } from "./Input.astro";
import { cn } from "../../lib/utils";
import Label from "./Label.astro";
---

<Label labelFor="upload">Upload Images</Label>
<div class="relative">
    <input
        class={cn(
            inputStyle,
            "p-0 file:mr-4 file:py-2 file:px-4 file:rounded-l-md file:ml-2 file:border-0 file:text-sm file:font-medium file:bg-primary file:text-white hover:file:bg-primary/90 file:cursor-pointer cursor-pointer",
        )}
        aria-describedby="return_image_help"
        id="upload"
        type="file"
        name="upload"
        multiple
        accept="image/*"
    />
</div>
