---
interface Props {
    formId: string;
}

const { formId } = Astro.props;
---

<form
    autocomplete="on"
    action={`https://formspree.io/f/${formId}`}
    method="POST"
    class="flex-grow border-0 lg:border-neutral-300 bg-transparent lg:bg-white/80 shadow-none lg:shadow-lg hover:lg:shadow-xl lg:backdrop-blur-sm lg:p-12 rounded-2xl w-full transition-all"
>
    <slot />
</form>