---
interface Props {
    id?: string;
    name: string;
    required?: boolean;
    class?: string;
    placeholder?: string;
}

const {
    id,
    name,
    required,
    placeholder,
    class: className,
}: Props = Astro.props;
---

<select
    required={required}
    id={id}
    name={name}
    class="block bg-white/90 p-3 pr-8 pl-10 focus:border-primary border-text-black rounded-lg rounded-sm ring-1 ring-transparent hover:ring-gray-400 focus:ring-primary focus:ring-primary w-full w-full font-normal font-normal text-base transition-all duration-100 delay-50 [&:checked]:accent-white ease"
>
    <option value="">{placeholder || "Select an option"}</option>
    <slot />
</select>
