---
import { buttonVariants } from '../ui/button'
import { cn } from '../../lib/utils'
---

<form
    autocomplete="on"
    action="https://formspree.io/f/xbjvlval"
    method="POST"
    class="mt-4 items-center w-full justify-center flex flex-col"
>
    <div class="flex gap-x-2 w-full max-w-sm">
        <input
            class="text-sm h-10 lg:h-12 w-full border-2 border-gray-200 bg-black text-white font-light px-2 py-2 rounded-lg"
            required
            name="email"
            type="email"
            placeholder="Enter your email"
        />
        <button
            type="submit"
            value="send"
            class={cn(
                buttonVariants({ size: 'sm' }),
                'h-10 lg:h-12 md:w-24 lg:w-36'
            )}
        >
            Send <i data-lucide-name="send"></i>
        </button>
    </div>
</form>
