---
import { InfiniteMovingCards } from "@thetis/ui/infinite-moving-cards";

import { patients } from "./content/patients";
import ReviewCarousel from "./ReviewCarousel";
---

<div
  class="hidden relative lg:flex flex-col justify-center items-center py-8 rounded-md overflow-hidden antialiased"
  style="width: 100vw; margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%);"
>
  <InfiniteMovingCards
    items={patients
      .filter((review) => review.is_pinned)
      .sort(() => Math.random() - 0.5)}
    direction="right"
    speed="normal"
    client:load
  />
</div>

<div
  class="lg:hidden relative flex flex-col justify-center items-center py-8 rounded-md overflow-hidden antialiased"
  style="width: 100vw; margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%);"
>
  <ReviewCarousel client:only />
</div>

<div class="flex justify-center items-center">
  <a
    href="/reviews"
    class="flex mx-auto px-4 pb-8 text-primary text-xl text-center hover:underline underline-offset-4"
    >View all reviews</a
  >
</div>
