---
import { InfiniteMovingCards } from "@thetis/ui/infinite-moving-cards";

import {patients} from "./content/patients";
import ReviewCarousel from './ReviewCarousel';
---

<div class="relative left-0 lg:flex flex-col justify-center items-center hidden py-8 rounded-md w-[100vw] antialiased overflow-hidden">
  <InfiniteMovingCards
    items={patients
      .filter((review) => review.is_pinned)
      .sort(() => Math.random() - 0.5)}
    direction="right"
    speed="slow"
    client:load
  />
</div>

<div class="relative left-0 flex flex-col justify-center items-center lg:hidden py-8 rounded-md w-[100vw] antialiased overflow-hidden">
  <ReviewCarousel  client:load /> 
</div>


