---
import { InfiniteMovingCards } from "@thetis/ui/infinite-moving-cards";

import { reviews } from "./reviews";
---

<div class="relative left-0 flex flex-col justify-center items-center rounded-md w-[100vw] antialiased overflow-hidden">
  <InfiniteMovingCards
    items={reviews.filter((review) => review.is_pinned)}
    direction="right"
    client:load
  />
</div>
