---
import reviews from "./reviews.json";
import { ReviewCard } from "./ReviewCard";
---

<div class="relative left-0 flex flex-col justify-center items-center p-8 w-[100vw] antialiased overflow-hidden">
  <h3 class="font-semibold text-3xl text-left text-neutral-900">Hear it from our customers...</h3>
  <div class="absolute inset-0 bg-primary/20"></div>
  <div class="relative z-10 masonry-grid py-8">
    {reviews.map((review) => (
      <div class="masonry-item">
        <ReviewCard client:load review={review} />
      </div>
    ))}
  </div>
</div>

<style>
  .masonry-grid {
    columns: 1;
    column-gap: 1rem;
    width: 100%;
  }

  .masonry-grid > div {
    margin-bottom: 1rem;
    break-inside: avoid;
  }

  @media (min-width: 750px) {
    .masonry-grid {
      columns: 2;
    }
  }

  @media (min-width: 900px) {
    .masonry-grid {
      columns: 3;
    }
  }
</style>