---
import { QuoteIcon } from 'lucide-react';
---
<div class="flex flex-col justify-center items-center gap-4 mx-auto py-16 rounded-lg w-full text-center">
    <QuoteIcon size={40} className="mb-4" />
    <h2 class="mb-4 font-semibold text-3xl text-center italic">"Simply brilliant - and brilliantly simple"</h2>
    <p class="text-gray-700 text-xl">Clinical Director, London Foot and Ankle Centre</p>
</div>