---
import Layout from '../layouts/Layout.astro'
import Article from '@/components/blog/Article.astro'
import Subscribe from '@/components/Subscribe.astro'
import SlideTitle from '@/components/SlideTitle.astro'
---

<Layout
    title="Achilles Ruptures FAQs"
    description="A comprehensive guide on if you have ruptured your Achilles tendon and questions including the timeline, diagnosis, treatment and recovery."
    image="https://thetismedical.com/images/achilles-drawing-image.png"
>
    <main data-barba="container" data-barba-namespace="home">
        <Article title="Achilles Ruptures FAQs" />
        <section class="article-wrap">
            <SlideTitle title="Achilles Rupture Timeline" />
            <div class="article">
                <ul>
                    <li>
                        <a href="./FAQs/achilles-rupture-timeline"
                            >Achilles Rupture Timeline</a
                        >
                    </li>
                </ul>
                <a
                    href="./FAQs/achilles-rupture-timeline"
                    class="article explore">Read Article</a
                >
            </div>
        </section>

        <section class="article-wrap">
            <div id="faq-slide"></div>
            <SlideTitle title="Is my Achilles Ruptured?" />
            <div class="article">
                <ul>
                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q1"
                            >Is my Achilles Ruptured?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q2">
                            What happens when you tear your Achilles?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q3">
                            How to tell if your Achilles tendon is about to
                            tear?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q4">
                            How do you tear your Achilles?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q5">
                            How do Achilles tears happen?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q6">
                            What else it could be?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q7">
                            What does it feel like when you tear your Achilles
                            tendon?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q8">
                            How painful is a torn Achilles?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q9">
                            How do you know if your Achilles is torn?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q10">
                            Should I go to hospital?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q11">
                            How bad is an Achilles tear?</a
                        >
                    </li>

                    <li>
                        <a href="./FAQs/is-my-achilles-ruptured#q12">
                            How common is an Achilles tendon rupture?</a
                        >
                    </li>
                </ul>
                <a href="./FAQs/is-my-achilles-ruptured" class="article explore"
                    >Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="What happens if my Achilles is ruptured?" />
            <div class="article">
                <ul>
                    <li>
                        <a
                            href="./FAQs/what-happens-if-my-achilles-is-ruptured#q1"
                        >
                            What will happen in A&E?</a
                        >
                    </li>
                    <li>
                        <a
                            href="./FAQs/what-happens-if-my-achilles-is-ruptured#q2"
                        >
                            What will the specialist do?
                        </a>
                    </li>
                    <li>
                        <a
                            href="./FAQs/what-happens-if-my-achilles-is-ruptured#q3"
                        >
                            How many check-ups?</a
                        >
                    </li>
                    <li>
                        <a
                            href="./FAQs/what-happens-if-my-achilles-is-ruptured#q4"
                        >
                            When should I see a physio?</a
                        >
                    </li>
                    <li>
                        <a
                            href="./FAQs/what-happens-if-my-achilles-is-ruptured#q5"
                        >
                            Should I take blood-thinners?</a
                        >
                    </li>
                </ul>
                <a
                    href="./FAQs/what-happens-if-my-achilles-is-ruptured"
                    class="article explore">Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="Achilles Tear Treatment" />
            <div class="article">
                <ul>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q1">
                            How to treat a torn Achilles tendon / Op vs Non-Op?
                        </a>
                    </li>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q2">
                            How long can you wait for Achilles tendon surgery?
                        </a>
                    </li>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q3">
                            How long does Achilles tendon surgery take?
                        </a>
                    </li>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q4">
                            Recovery from Achilles Rupture Surgery</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q5">
                            Pain after Achilles tendon rupture / surgery
                        </a>
                    </li>
                    <li id="pain-list-wrap">
                        <ul class="pain-list">
                            <li>
                                <a href="./FAQs/achilles-tear-treatment#q6">
                                    Heel Pain</a
                                >
                            </li>
                            <li>
                                <a href="./FAQs/achilles-tear-treatment#q7">
                                    Calf Pain</a
                                >
                            </li>
                            <li>
                                <a href="./FAQs/achilles-tear-treatment#q8">
                                    Calf Spasm</a
                                >
                            </li>
                            <li>
                                <a href="./FAQs/achilles-tear-treatment#q9">
                                    Knee Pain</a
                                >
                            </li>
                            <li>
                                <a href="./FAQs/achilles-tear-treatment#q10">
                                    Nerve Pain</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./FAQs/achilles-tear-treatment#q11">
                            Scar healing post-surgery</a
                        >
                    </li>
                </ul>
                <a href="./FAQs/achilles-tear-treatment" class="article explore"
                    >Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="Torn Achilles recovery" />
            <div class="article">
                <ul>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q1">
                            Walking casts vs boots</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q2">
                            Which Achilles tendon rupture boot is best?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q3">
                            How to sleep with torn Achilles tendon?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q4">
                            How long for an Achilles tendon rupture to heal?
                        </a>
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q5">
                            Recovery time with and without surgery?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q6">
                            Partial Achilles tear recovery</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/torn-achilles-recovery#q7">
                            Achilles tendon recovery/rehab exercises</a
                        >
                    </li>
                </ul>
                <a href="./FAQs/torn-achilles-recovery" class="article explore"
                    >Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="Life After Achilles Tendon Rupture" />

            <div class="article">
                <ul>
                    <li>
                        <a href="./FAQs/life-after-achilles-rupture#q1">
                            Life after Achilles tendon rupture</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/life-after-achilles-rupture#q2">
                            When can I play sport again?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/life-after-achilles-rupture#q3">
                            When can I go back to physical work?</a
                        >
                    </li>
                    <li>
                        <a href="./FAQs/life-after-achilles-rupture#q4">
                            When can I walk after Achilles rupture?
                        </a>
                    </li>
                    <li>
                        <a href="./FAQs/life-after-achilles-rupture#q5">
                            How to avoid re-rupture</a
                        >
                    </li>
                </ul>
                <a
                    href="./FAQs/life-after-achilles-rupture"
                    class="article explore">Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="Evidence Based Recovery" />
            <div class="article">
                <ul>
                    <li>
                        <a href="./evidence-based-recovery#natural-healing"
                            >Natural Healing</a
                        >
                    </li>
                </ul>
                <a href="./evidence-based-recovery" class="article explore"
                    >Read Article</a
                >
            </div>
        </section>
        <section class="article-wrap">
            <SlideTitle title="Surgeon's Little Gems" />
            <div class="article">
                <div class="coming-soon">
                    <p>
                        Only available by subscribing to get our full document
                        by email.
                    </p>
                </div>
                <ul></ul>
            </div>
        </section>
        <div class="other-articles">
            <a href="../night-splint" class="article-to-night-splint explore"
                >Achilles Rupture Night Splint</a
            >
        </div>
        <section class="article-wrap">
            <SlideTitle title="Downloads" />
            <div class="downloads-wrap">
                <div class="download intro large">
                    <a
                        href="/images/documents/A Game of Snakes and Ladders Poster.pdf"
                        target="_blank"
                        >A Game of Snakes and Ladders Poster.pdf</a
                    >
                </div>
                <div class="download intro large">
                    <a
                        href="/images/documents/Achilles Rupture Information Sheet.pdf"
                        target="_blank"
                        >Achilles Rupture Information Sheet.pdf</a
                    >
                </div>
            </div>
        </section>
        <Subscribe />
    </main>
</Layout>
