---
import Layout from "@/layouts/Layout.astro";
import ThetisSchema from "@/schemas/ThetisSchema.astro";
import LandingHero from "@/layouts/LandingHero.astro";
import Reviews from "@/components/reviews/Reviews.astro";
import EmailCTA from "@/components/CTA/EmailCTA.astro";
import "@thetis/ui/globals.css";
import ProductTimeline from "@/components/ProductTimeline.astro";
import ProfessionalOpinionsCarousel from "@/components/testimonials/ProfessionalOpinionsCarousel";
import ComplianceLogos from "../components/compliance/ComplianceLogos.astro";
---

<ThetisSchema slot="head" />


<Layout
    title="Thetis Medical - Achilles Splint Specialists"
    description="Medical device company specializing in splints for injured Achilles Tendons. We sell an Achilles Rupture Night Splint and a Trauma Splint."
    image="https://thetismedical.com/images/night-splint.png"
>
  
    <main  class="flex flex-col justify-center items-center mx-auto w-full">
       
        <LandingHero />

        <Reviews />

       <ComplianceLogos />


        <ProductTimeline     />


        <EmailCTA
            title="End the suffering"
            paragraph="Speak to us to allow you, your loved ones or your patients to recover in comfort"
        />


        <!-- <NightSplintCarousel client:load/> -->
        <!-- <Testimonials /> -->
        <ProfessionalOpinionsCarousel client:load />
       
    </main>
</Layout>

<script is:inline>
	document.documentElement.classList.remove('dark');
	
	if (typeof localStorage !== 'undefined') {
		localStorage.setItem('theme', 'light');
	}
</script>
