---
import Layout from "../layouts/Layout.astro";
import { patients } from "@/components/reviews/content/patients";
import { InfiniteMovingCards } from "../components/ui/infinite-moving-cards.tsx";
---

<Layout
    title="Thetis Medical - Achilles Splint Specialists"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Night Splint and a Trauma Splint."
    image="https://thetismedical.com/images/night-splint.png"
>
<div>
<InfiniteMovingCards items={patients.map((r)=>{return{quote:r.body,name:r.author,title:"Verified Buyer"}})} />
    </div>
</Layout>