---
import Layout from "../layouts/Layout.astro";
import { ClientRouter } from "astro:transitions";
import Testimonials from "@/components/testimonials/Testimonials.astro";
import Slide from "@/components/Slide.astro";
import BigLinks from "@/components/BigLinks.astro";
import NightSplintSchema from "../schemas/NightSplintSchema.astro";
import RedCross from "@/components/icons/RedCross.astro";
import GreenTick from "@/components/icons/GreenTick.astro";
import EmailCTA from "@/components/CTA/EmailCTA.astro";
import DownloadList from "../components/DownloadList.astro";
import Quote from "../components/Quote.astro";
import SizeChart from "../components/SizeChart.astro";
import StarRating from "../features/reviews/StarRating.tsx";
import { buttonVariants } from "../components/ui/button";
import NightSplintFAQs from "../components/NightSplintFAQs.tsx";
import ReviewsMasonry from "../components/reviews/ReviewsMasonry.astro";
import SleepingComfortably from "../components/pros-cons/SleepingComfortably.tsx";
import BuyButtonVariants from "../components/buy-button/BuyButtonVariants.tsx";
import ReviewStatistics from "../components/reviews/ReviewStatistics.tsx";
import ReviewSummary from "../components/reviews/ReviewSummary.tsx";
---

<Fragment slot="head">
  <NightSplintSchema />
  <ClientRouter />
</Fragment>

<Layout

    title="Achilles Tendon Rupture Night Splint"
    description="Thetis Medical's Achilles rupture night splint to make sleeping more pleasant and bearable. The brace straps to the leg to prevent further tendon injury."
    image="https://thetismedical.com/images/green-shell.png"
>
    <main>
        <Slide className="!mt-0 !pt-0"></Slide>
        <section class="landing splint">
            <BigLinks active="night" />
            <h2 class="lg:pt-4 pb-4 lg:pb-8 text-center text-lg lg:text-xl">
                DESIGNED ALONGSIDE SURGEONS TO IMPROVE ACHILLES RUPTURE
                RECOVERY.
            </h2>
            <div class="flex md:flex-row flex-col my-2">
                <img
                    class="lg:mr-4 lg:w-7/12"
                    src="/images/night-splint/achilles_rupture_night_splint_bed_thetis_medical.jpg"
                    alt="Night Splint Render"
                />
                <div
                    class="flex flex-col items-center lg:items-start gap-y-6 mx-auto mt-6 lg:mt-0 w-[90%] text-center lg:text-left"
                >
                    <h1
                        class="font-semibold text-2xl lg:text-4xl leading-[135%]"
                    >
                        Achilles Tendon Rupture Night Splint
                    </h1>
                    <StarRating rating={4.5} showNumber={false} />
                    <a href="#more-reviews" class="font-medium text-primary underline underline-offset-2 hover:underline-offset-4 transition-all duration-300">Read more reviews</a>
                    <BuyButtonVariants client:load />
                </div>
            </div>
            <p class="splint-intro">
                The ONLY splint for post Achilles rupture recovery. Aimed to
                improve sleep and make recovery more comfortable.
            </p>
        </section>
        <Slide
            title="Intended Use"
            paragraph="  Night-time splint to ensure the foot is kept in plantar flexion (foot pointed down) for the first 3 months after an Achilles tendon tear."
        />
        <Slide id="testimonials" title="Testimonials">
            <Quote
                title="Simply brilliant - and brilliantly simple"
                author="Clinical Director, London Foot and Ankle Centre"
            />
            <div
                class="flex justify-center items-center mx-auto mt-8 px-4 w-full"
            >
                <h3>
                    <a
                        class={buttonVariants({ variant: 'link', size: 'lg' })}
                        href="#more-reviews">More Testimonials</a
                    >
                </h3>
            </div>
        </Slide>
        <SleepingComfortably client:load />
        <Slide
            id="problem"
            title="Problem"
            paragraph="Currently, patients wear a large, outdoor, orthopaedic boot, day and night, for the 10 week rehabillitation. This is analagous to wearing hiking boots for 10 weeks, and sleeping in them..."
        >
            <p class="intro large">Patients find these boots:</p>
            <div class="bullet-wrap">
                <div class="bullet-points">
                    <div class="boot-point">
                        <RedCross />
                        <p>Hot</p>
                    </div>
                    <div class="boot-point">
                        <RedCross />
                        <p>Dirty</p>
                    </div>
                </div>
                <div class="bullet-points">
                    <div class="boot-point">
                        <RedCross />
                        <p>Uncomfortable</p>
                    </div>
                    <div class="boot-point">
                        <RedCross />
                        <p>Heavy</p>
                    </div>
                </div>
            </div>
        </Slide>

        <!-- Statistics -->

        <Slide
            id="statistics"
            title="Statistics"
            paragraph=" 78% of patients found sleeping in the boot difficult and would therefore benefit from our night splint."
        >
            <div class="sleep-pie">
                <img
                    loading="lazy"
                    class="pie"
                    src="/images/sleeping-piechart-donut.svg"
                    alt="Pie Chart of Patient's Sleep post Achilles Rupture"
                />
                <img
                    loading="lazy"
                    class="key"
                    src="/images/sleeping-piechart-key.svg"
                    alt="Pie Chart key of Patient's Sleep post Achilles Rupture"
                />
            </div>
        </Slide>

        <Slide
            id="solution"
            title="Solution (Patent Pending)"
            paragraph="By sleeping and resting in a lightweight, comfort-focused splint, recovery becomes more bearable."
        >
            <div class="bullet-wrap">
                <div class="bullet-points">
                    <div class="boot-point">
                        <GreenTick />
                        <p>Cool</p>
                    </div>
                    <div class="boot-point">
                        <GreenTick />
                        <p>Contoured</p>
                    </div>
                </div>
                <div class="bullet-points">
                    <div class="boot-point">
                        <GreenTick />
                        <p>Lightweight</p>
                    </div>
                    <div class="boot-point">
                        <GreenTick />
                        <p>Slim-line</p>
                    </div>
                </div>
            </div>
        </Slide>

        <EmailCTA
            title="Sound Interesting?"
            paragraph="Want to learn more? Enter your email below."
        />

        <!-- Instructions -->

        <Slide title="Instructions">
            <div class="warnings">
                <h4>DO NOT STAND OR WALK IN THE SPLINT.</h4>
                <h4>DO NOT OVERTIGHTEN THE STRAPS.</h4>
            </div>
            <div class="instructions-wrap">
                <div class="instruction">
                    <p>
                        1. Point toes then place shell on leg. Ensure you cover
                        foot but not toes. Fastening patch sits over ankle
                        joint.
                    </p>
                    <img
                        class="instruction-img"
                        loading="lazy"
                        src="/images/night-splint/instruction-1.svg"
                        alt="instructions image 1"
                    />
                </div>
                <div class="instruction">
                    <p>
                        2. Do up leg and foot straps firmly but not too tight.
                    </p>
                    <img
                        class="instruction-img"
                        loading="lazy"
                        src="/images/night-splint/instruction-2.svg"
                        alt="instructions image 2"
                    />
                </div>
            </div>
            <div class="instructions-wrap">
                <div class="instruction">
                    <p>3. Position heel in hole of the final (ankle) strap.</p>
                    <img
                        class="instruction-img"
                        loading="lazy"
                        src="/images/night-splint/instruction-3.svg"
                        alt="instructions image 3"
                    />
                </div>
                <div class="instruction">
                    <p>4. Fasten firmly but not too tight.</p>
                    <img
                        class="instruction-img"
                        loading="lazy"
                        src="/images/night-splint/instruction-4.svg"
                        alt="instructions image 4"
                    />
                </div>
            </div>
        </Slide>

        <!-- Sizing -->

        <Slide title="Sizing">
            <div class="h-6"></div>
            <SizeChart />
        </Slide>

        <!-- Downloads -->

        <Slide title="Downloads">
            <DownloadList
                title="Information for Patients"
                downloads={[
                    {
                        title: 'Night Splint Instructions.pdf',
                        href: '/images/documents/screen-instructions-induvidual.pdf',
                    },
                    {
                        title: 'Night Splint Information Brochure.pdf',
                        href: '/images/documents/information-brochure-night-splint.pdf',
                    },
                ]}
            />
        </Slide>

        <ReviewsMasonry />

        <Testimonials />

        <Slide title="FAQs">
            <NightSplintFAQs />
        </Slide>
    </main>
</Layout>

<script>
    fetch('https://extreme-ip-lookup.com/json/?key=mRicTdUafjFRd3Ufqftq')
        .then((res) => res.json())
        .then((response) => {
            console.log('Country: ', response.country)
            try {
                // Check if on Night Splint Page
                const shopify = document.getElementById(
                    'shopify-buy-button-wrapper'
                )
                const amazon = document.getElementById(
                    'amazon-buy-button-wrapper'
                )

                if (response.country === 'United Kingdom') {
                    amazon?.remove()
                } else {
                    shopify?.remove()
                }
            } catch (error) {
                // console.log(error)
            }
        })
        .catch((reason: any) => {
            console.log(reason)
            // console.log('Request failed');
        })
</script>
