---
import ContactLayout from "@/layouts/FormLayout.astro";
import OrderSamplePage from "@/components/contact/forms/OrderSample.astro";
import Layout from "../layouts/Layout.astro";
import ColorGradient from "../components/ColorGradient.astro";
---

<Layout title="Order Product Samples" description="Order Product Samples">
    <ColorGradient>
        <div class="mx-auto max-w-screen-lg">
            <OrderSamplePage />
        </div>
    </ColorGradient>
</Layout>
