---
import Layout from "../layouts/Layout.astro";
import FullImageCTA from "../components/CTA/FullCTA.astro";
import { buttonVariants } from "../components/ui/button";
import { cn } from "../lib/utils";
import EmailCTA from "../components/CTA/EmailCTA.astro";
import Slide from "../components/Slide.astro";
import Title from "../components/Title.astro";
import DownloadList from "../components/DownloadList.astro";
import ProfessionalsHero from "../layouts/ProfessionalsHero.astro";
import TraumaSplintImage from "@/components/products/images/trauma-splint/trauma_splint.jpg";
import NightSplintImage from "@/components/products/images/night-splint/night_splint_bed_side.jpg";
import GetInTouch from '../components/CTA/GetInTouch.astro';
import ProfessionalOpinionsCarousel from '../components/reviews/ProfessionalOpinionsCarousel';
---

<Layout
    title="Thetis Medical - Professionals"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Night Splint and a Trauma Splint."
    image="https://thetismedical.com/images/evidence-based-recovery"
>
    <main class="">
        <ProfessionalsHero />

        <FullImageCTA
            title="Trauma Splint"
            paragraph={[
                'Use of the Achilles Rupture Trauma Splint helps your patients reach a treatment plan promptly.',
                'Thetis Achilles Trauma Splints make the diagnostic pathway more flexible and efficient. Plaster room visits are not required. Boots are not wasted. In one study the time from A&E to definitive treatment decision was halved.',
            ]}
            primaryHref="/order-wholesale"
            secondaryHref="/trauma-splint"
            primaryWords="Order Now"
            secondaryWords="Learn More"
            image={TraumaSplintImage}
            imageAlt="Trauma Splint Image"
        />
        <FullImageCTA
            title="Night Splint"
            paragraph={[
                'Do you know any patients who are pleased to sleep in their boot? The Achilles Rupture Night Splint is a secure alternative.',
                'Thetis Achilles Rupture Night Splint has been welcomed by patients. One patient (himself a surgeon) described it as “the most important bit of rehab kit that they don’t tell you about”.',
            ]}
            primaryHref="/buy-now"
            secondaryHref="/night-splint"
            primaryWords="Order Now"
            secondaryWords="Learn More"
            image={NightSplintImage}
            imageAlt="Trauma Splint Image"
        />

        <ProfessionalOpinionsCarousel client:load />

        <GetInTouch
            title="Sound Interesting?"
            paragraph="Want to get a sample, speak to us or just learn more?"
        />

        <Slide title="Downloads">
            <div class="space-y-12 my-12">
                <DownloadList
                    title="Medical Studies"
                    downloads={[
                        {
                            title: 'Quality Improvement Study Flowchart.pdf',
                            href: '/images/documents/QIP FLOWCHART embed.pdf',
                        },
                    ]}
                />
                <DownloadList
                    title="Information for Patients"
                    downloads={[
                        {
                            title: 'Achilles Rupture Information Sheet.pdf',
                            href: '/images/documents/Achilles Rupture Information Sheet.pdf',
                        },
                        {
                            title: 'A Game of Snakes and Ladders Poster.pdf',
                            href: '/images/documents/Achilles Rupture Information Sheet.pdf',
                        },
                    ]}
                />
                <DownloadList
                    title="Information for Patients"
                    downloads={[
                        {
                            title: 'Night Splint Instructions.pdf',
                            href: '/images/documents/screen-instructions-induvidual.pdf',
                        },
                        {
                            title: 'Trauma Splint Instructions.pdf',
                            href: '/images/documents/trauma_splint_insert.pdf',
                        },
                    ]}
                />
            </div>
        </Slide>
    </main>
</Layout>
