---
import Layout from "../layouts/Layout.astro";
import FullImageCTA from "../components/CTA/FullCTA.astro";
import Slide from "../components/Slide.astro";
import DownloadList from "../components/DownloadList.astro";
import ProfessionalsHero from "../layouts/ProfessionalsHero.astro";
import TraumaSplintImage from "@/components/products/images/trauma-splint/trauma_splint.jpg";
import NightSplintImage from "@/components/products/images/night-splint/night_splint_bed_side.jpg";
import GetInTouch from "../components/CTA/GetInTouch.astro";
import ProfessionalOpinionsCarousel from "../components/reviews/ProfessionalOpinionsCarousel";
import { InfiniteClinicianReviews } from "@thetis/ui/infinite-clinician-reviews";
import { clinicians } from "../components/reviews/content/clinicians";
import HighlightedWord from "../components/HighlightedWord";
import BuyNowCallout from "../components/products/night-splint/BuyNowCallout.astro";
---

<Layout
    title="Thetis Medical - Professionals"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Splint and a Trauma Splint."
    image="https://thetismedical.com/images/evidence-based-recovery"
>
    <main class="">
        <ProfessionalsHero />

        <!-- <SimplyBrilliantQuote /> -->

        <div class="bg-gradient-to-t from-primary/20 to-white h-12"></div>
        <div class="bg-primary/20 py-8">
            <div class="mx-auto px-4 container">
                <h2 class="mb-8 font-semibold text-2xl text-center">
                    Trusted by Leading <HighlightedWord
                        >Foot and Ankle Specialists</HighlightedWord
                    >
                </h2>
                <div class="hidden lg:block">
                    <InfiniteClinicianReviews
                        items={clinicians.sort(() => Math.random() - 0.5)}
                        direction="right"
                        speed="normal"
                        client:load
                    />
                </div>
                <div class="lg:hidden">
                    <ProfessionalOpinionsCarousel client:load />
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-b from-primary/20 to-white h-12"></div>

        <FullImageCTA
            title="Use in A&E 🇬🇧 / ER 🇺🇲"
            paragraph={[
                "Our patented Achilles Rupture Splint, developed with orthopedic specialists, helps patients reach treatment plans promptly while maintaining the optimal 30° plantarflexed position for healing.",
                "Thetis Achilles Splints make the diagnostic pathway more flexible and efficient. Plaster room visits are not required. Boots are not wasted. In one study the time from first presentation to definitive treatment decision was halved.",
                "Available for reimbursement with HCPCS code Q4051.",
            ]}
            primaryHref="/order-wholesale"
            secondaryHref="/splint"
            primaryWords="Order Now"
            secondaryWords="Learn More"
            image={TraumaSplintImage}
            imageAlt="Trauma Splint Image"
        />

        <FullImageCTA
            title="Sleep Safely Without a Boot"
            paragraph={[
                "Do you know any patients who are pleased to sleep in their boot? The Achilles Rupture Splint is a secure alternative.",
                "Thetis Achilles Rupture Splint has been welcomed by patients. One patient (himself a surgeon) described it as 'the most important bit of rehab kit that they don't tell you about'.",
                "Lightweight and effective, it provides relief during sleep and protects the foot outside the boot. Highly recommended to improve compliance and recovery outcomes.",
            ]}
            primaryHref="/buy-now"
            secondaryHref="/splint"
            primaryWords="Order Now"
            secondaryWords="Learn More"
            image={NightSplintImage}
            imageAlt="Trauma Splint Image"
        />

        <BuyNowCallout
            buttonText="Order for Clinic"
            buttonHref="/order-wholesale"
        >
            <span slot="title">Help Your Patients Recover in Comfort</span>
            <span slot="body">
                Join other clinicians in allowing your patients to recover in
                comfort. Trusted by leading specialists, our splints ensure
                <HighlightedWord>comfortable sleep</HighlightedWord> and
                <HighlightedWord>improved pathways</HighlightedWord>.
            </span>
        </BuyNowCallout>

        <Slide title="Downloads">
            <div class="space-y-12 my-12">
                <DownloadList
                    title="Medical Studies"
                    downloads={[
                        {
                            title: "Quality Improvement Study Flowchart.pdf",
                            href: "/images/documents/QIP FLOWCHART embed.pdf",
                        },
                    ]}
                />
                <DownloadList
                    title="Information for Patients"
                    downloads={[
                        {
                            title: "Achilles Rupture Information Sheet.pdf",
                            href: "/images/documents/Achilles Rupture Information Sheet.pdf",
                        },
                        {
                            title: "A Game of Snakes and Ladders Poster.pdf",
                            href: "/images/documents/Achilles Rupture Information Sheet.pdf",
                        },
                    ]}
                />
                <DownloadList
                    title="Information for Patients"
                    downloads={[
                        {
                            title: "Splint Instructions.pdf",
                            href: "/images/documents/screen-instructions-induvidual.pdf",
                        },
                        {
                            title: "Trauma Splint Instructions.pdf",
                            href: "/images/documents/trauma_splint_insert.pdf",
                        },
                    ]}
                />
            </div>
        </Slide>
    </main>
</Layout>

Pre Surgery (HCPCS code Q4051) Quick to apply and no training required means
easy scanning and quick time to diagnosis. Quick to Apply No Training Required
Removable for Hygiene Durable During Recovery The splint's breathable materials
and anatomical shape ensures comfort while maintaining proper foot position.
Perfect for sleeping and resting during recovery. Breathable & Cool Anatomically
Contoured Ultra-Lightweight Slim & Comfortable
