---
import { buttonVariants } from '../components/ui/button'
import Layout from '../layouts/Layout.astro'
import EmailInput from '@/components/form/EmailInput.astro'
import IdInput from '@/components/form/IdInput.astro'
import TextArea from '@/components/form/TextArea.astro'
import FileInput from '@/components/form/FileInput.astro'
import HelperText from '@/components/form/HelperText.astro'
import Label from '@/components/form/Label.astro'
---

<Layout
    title="Thetis Medical - Returns"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Splint and a Trauma Splint."
    image="https://thetismedical.com/images/evidence-based-recovery"
>
    <main class="flex flex-col gap-y-8 my-8 px-2 lg:px-0 w-full lg:w-8/12">
        <!-- <section>
            <p>
                We are sorry to hear you want to return our product. To get your
                money refunded as quickly as possible, please complete this form
                carefully, including images justifying the reason for the
                return.
            </p>
        </section> -->

        <h2 class="text-2xl">Create Return</h2>

        <section>
            <!-- modify this form HTML and place wherever you want your form -->
            <form
                action="https://formspree.io/f/xrgwkooy"
                method="POST"
                enctype="multipart/form-data"
                class="flex flex-col gap-y-8"
            >
                <div class="flex gap-y-8 lg:gap-x-8 w-full">
                    <div class="w-full">
                        <EmailInput />
                    </div>
                    <div class="w-full">
                        <IdInput />
                    </div>
                </div>
                <div>
                    <Label labelFor="return-reason">Return Reason</Label>
                    <TextArea />
                    <HelperText>
                        Please be as descriptive as possible. This will help us
                        return your money and improve our products for future
                        customers.
                    </HelperText>
                </div>
                <div>
                    <FileInput />
                    <HelperText>
                        Please add images to support your return reason as
                        required.
                    </HelperText>
                </div>
                <button
                    class={buttonVariants({
                        size: 'xl',
                        variant: 'default',
                        className: 'lg:w-fit',
                    })}
                    type="submit">Send</button
                >
            </form>
        </section>
    </main>
</Layout>
