---
import ColorGradient from '../components/ColorGradient.astro';
import Layout from "../layouts/Layout.astro";
import ReviewsMasonry from "@/components/reviews/ReviewsMasonry";
import { cn } from '../lib/utils';
import { buttonVariants } from '@/components/ui/button';
---

<Layout
    title="Thetis Medical - Achilles Splint Specialists"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Night Splint and a Trauma Splint."
    image="https://thetismedical.com/images/night-splint.png"
>

<main>
    <ColorGradient >
    <ReviewsMasonry client:only />
    <section 
        class="group relative bg-gradient-to-tr from-primary/50 via-primary/20 to-primary/30 shadow-lg hover:shadow-xl mx-auto px-12 md:px-16 rounded-[2rem] max-w-[90vw] lg:max-w-screen-lg overflow-hidden transition-all duration-300"
    >
        <div
            class="z-10 relative flex flex-col justify-center items-center space-y-8 my-16 px-6 w-full h-full"
        >
            <div class="flex flex-col justify-center items-center space-y-4 w-full max-w-[700px] text-center group-hover:scale-102 transition-all duration-300">
                <h2 class="font-semibold text-neutral-900 text-3xl md:text-4xl">Heard enough?</h2>
                <p class="max-w-[650px] text-neutral-700 text-lg md:text-xl">Experience it for yourself</p>
            </div>

            <a 
        href="/buy-now" 
        class={cn(buttonVariants({ size: 'lg', variant: 'default' }))}
    >
        Buy now
    </a>
</div>
    </section>
<div class="mt-12 mb-8 text-center">
  
</div>
</ColorGradient>

</main>
</Layout>