---
import Layout from "../layouts/Layout.astro";
import ReviewsByType from "../components/reviews/ReviewsByType";
---

<Layout
	title="Thetis Medical Testimonials"
	description="Testimonials and reviews of the Thetis Medical Achilles Rupture Splints."
	image="https://thetismedical.com/images/dotty-logo"
>
	<section class="flex flex-col mx-auto my-8 px-4 w-full max-w-[900px]">
		<h1 class="mb-8 text-slate-900 text-2xl">Testimonials</h1>
		<ReviewsByType />
	</section>
</Layout>
