---
import Layout from '../layouts/Layout.astro'
---

<Layout
    title="Thetis Medical - Thank You"
    description="Medical device company specialising in splints for injured Achilles Tendons. We sell an Achilles Rupture Splint and a Trauma Splint."
    image="https://thetismedical.com/images/evidence-based-recovery"
>
    <main class="flex flex-col gap-y-8 my-8 px-2 lg:px-0 w-full lg:w-8/12">
        <section class="py-24">
            <h1 class="mb-4 font-semibold text-3xl">Thank You</h1>
            <p class="text-lg">
                We have received your submission. Thank you for taking the time to share your feedback with us.
            </p>
            <p class="mt-4 text-lg">
                Your input helps us improve our products and services. We appreciate your support.
            </p>
            <div class="mt-8">
                <a href="/" class="text-primary hover:underline">Return to Homepage</a>
            </div>
        </section>
    </main>
</Layout>
