---
import Layout from "../layouts/Layout.astro";
import Slide from "@/components/Slide.astro";
import TraumaSplintInstructions from "@/components/products/trauma-splint/trauma-splint-instructions/index.astro";
import Quote from "@/components/Quote.astro";
import EmailCTA from "@/components/CTA/EmailCTA.astro";
import SizeChart from "@/components/SizeChart.tsx";
import { ClientRouter } from "astro:transitions";
import ProsCons from "@/components/ProsCons.astro";
import DownloadList from "@/components/DownloadList.astro";
import EvidenceTable from '@/components/products/trauma-splint/EvidenceTable.tsx';
import EvidenceChart from '@/components/products/trauma-splint/EvidenceChart.tsx';
import TraumaSplintHero from '@/components/products/trauma-splint/TraumaSplintHero.astro';
---

<Fragment slot="head">
  <ClientRouter />
</Fragment>

<Layout
    title="Trauma Splint for Torn Achilles Tendons"
    description="An Achilles splint designed to replace plaster of paris casts in A&E / Emergency Rooms. It can save patients and doctors costs by saving time."
    image="https://thetismedical.com/images/A&E.png"
>
    <main>
      <TraumaSplintHero />
   
    <Slide id="testimonials" title="Testimonials">
        <Quote
            title="This splint saves patients and staff time. It also facilitates an efficient pathway for scanning and making decisions about treatment."
            author="Musculo-Skeletal Radiologist, Past UKRCO Vice President and BSSR Council"
        />
    </Slide>

    <Slide
        id="problem-solution"

    >
        <div class="gap-8 grid md:grid-cols-2 w-full">
            <div class="flex flex-col p-6">
                <h3 class="mb-4 font-semibold text-2xl">Current Problem</h3>
                <p class="mb-6">A&E patients with suspected Achilles ruptures receive casts that must be removed for scanning.</p>
                
                <div class="mt-auto">
                    <ProsCons 
                        points={[
                            { type: "con", text: "5 layer application" },
                            { type: "con", text: "Difficult to apply" },
                            { type: "con", text: "Staff need training" },
                            { type: "con", text: "Takes time to dry" }
                        ]}
                    />
                </div>
            </div>

            <div class="flex flex-col p-6">
                <h3 class="mb-4 font-semibold text-2xl">Our Solution (Patent Pending)</h3>
                <p class="mb-6">By using a comfortable, padded, plastic shell wrapped in crepe bandage, the process is transformed.</p>
                <div class="mb-6 product-solution"></div>
                
                <div class="mt-auto">
                    <ProsCons 
                        points={[
                            { type: "pro", text: "2 layer application" },
                            { type: "pro", text: "Easier to apply" },
                            { type: "pro", text: "No training needed" },
                            { type: "pro", text: "Save patients time" }
                        ]}
                    />
                </div>
            </div>
        </div>
    </Slide>

    <Slide
        title="Evidence"
        paragraph="Evidence - The time taken to achieve both ultrasound scan and specialist review fell > 60%. All Thetis Trauma Splint patients reached their definitive treatment decisions within one week."
    >
    <EvidenceTable />
</Slide>
    <EvidenceChart client:load />

 
   <TraumaSplintInstructions />
    <Slide title="Sizing">
        <SizeChart />
    </Slide>
    <Slide title="Downloads">
        <DownloadList
            title="Information for Patients"
            downloads={[
                {
                    title: 'Trauma-Instructions.pdf',
                    href: '/images/documents/trauma-splint/trauma_splint_instructions.pdf',
                },
                {
                    title: 'Trauma Splint Brochure.pdf',
                    href: '/images/documents/information-brochure-trauma-splint.pdf',
                },
            ]}
        />
    </Slide>
       <EmailCTA
        title="Sound Interesting?"
        paragraph="Want to get a sample, speak to us or just learn more?"
    />
    <br class="pt-60"/>
    </main>

</Layout>
