---
export interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props

import Layout from '../Layout.astro'
import OtherArticles from '@/components/OtherArticles.astro'
import Subscribe from '@/components/Subscribe.astro'
import Article from '@/components/Article.astro'

import AchillesRuptureDrawing from './achilles-rupture-drawing.svg'
---

<Layout
    title={title}
    description={description}
    image={AchillesRuptureDrawing}
>
    <main data-barba="container" data-barba-namespace="home">
        <Article title={title} />
        <slot />
        <OtherArticles />
        <Subscribe />
    </main>
</Layout>
