---
import Label from '@/components/form/Label.astro';
import Input from '@/components/form/Input.astro';
import FormWrap from '../FormWrap.astro';
import TextArea from '../../form/TextArea.astro';
import OptOut from '../../form/OptOut.astro';
---


<FormWrap
    formId="mdobaqwr"
>
    <div class="space-y-8 w-full">
        <h2 class="font-semibold text-2xl text-neutral-950 md:text-3xl leading-[105%]">Ask a Question</h2>
        <p class="text-gray-800 text-lg leading-relaxed">
            Have questions about our products? We're here to help.
        </p>
    
        <div class="space-y-6">
            <div class="form-group">
                <Label labelFor="name">Name</Label>
                <Input
                    name="name"
                    type="text"
                    required={true}
                />
            </div>

            <div class="form-group">
                <Label labelFor="email">Email</Label>
                <Input
                    required={true}
                    name="email"
                    type="email"
                />
            </div>
        
            <div class="form-group">
                <Label labelFor="message">Message</Label>
                <TextArea
                    name="message"
                    rows={4}
                    maxlength={1000}
                ></TextArea>
            </div>

            <OptOut/>

            <button
                type="submit"
                class="bg-primary hover:bg-primary/90 hover:shadow-md px-8 py-4 rounded-lg w-full md:w-auto font-medium text-white transition-all"
            >
                Send Message
            </button>
        </div>
    </div>
</FormWrap>