---
import Label from '@/components/form/Label.astro';
import Input from '@/components/form/Input.astro';
import FormWrap from '../FormWrap.astro';
import TextArea from '../../form/TextArea.astro';
import { inputStyle } from '@/components/form/Input.astro';
import OptOut from '../../form/OptOut.astro';
---

<FormWrap formId="xwppakoz">
    <div class="space-y-8 w-full">
        <h2 class="font-semibold text-2xl text-neutral-950 md:text-3xl leading-[105%]">Become a Partner</h2>
        <p class="text-gray-800 text-lg leading-relaxed">
            Looking to partner with us as a distributor, healthcare provider, or clinician? Fill out this form and we'll be in touch with next steps.
        </p>
    
        <div class="space-y-6">
            <div class="gap-6 grid md:grid-cols-2">
                <div class="form-group">
                    <Label labelFor="name">Contact Name</Label>
                    <Input
                        name="name"
                        type="text"
                        required={true}
                    />
                </div>

                <div class="form-group">
                    <Label labelFor="email">Business Email</Label>
                    <Input
                        name="email"
                        type="email"
                        required={true}
                    />
                </div>
            </div>

            <div class="form-group">
                <Label labelFor="partnerType">Partnership Type</Label>
                <select
                    required
                    id="partnerType"
                    name="partnerType"
                    class={`${inputStyle} w-full rounded-lg bg-white/90`}
                >
                    <option value="">Select partnership type</option>
                    <option value="distributor">Distributor</option>
                    <option value="clinic">Healthcare Provider/Clinic</option>
                    <option value="clinician">Individual Clinician</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <Label labelFor="message">Additional Information</Label>
                <TextArea
                    name="message"
                    rows={4}
                    maxlength={1000}
                ></TextArea>
            </div>

            <OptOut/>

            <button
                type="submit"
                class="bg-primary hover:bg-primary/90 hover:shadow-md px-8 py-4 rounded-lg w-full md:w-auto font-medium text-white transition-all"
            >
               Send Message
            </button>
        </div>
    </div>
</FormWrap>
