---
interface Props {
    title: string;
    links: Array<{ href: string; title: string }>;
    columns?: 1 | 2;
}

const { title, links, columns = 1 } = Astro.props;
---

<div class="space-y-4">
    <h3 class="font-semibold text-lg lg:text-left text-center">{title}</h3>
    <div
        class={`${columns === 2 ? "gap-3 grid grid-cols-1 md:grid-cols-2" : "flex flex-col space-y-3"}`}
    >
        {
            links.map((link) => (
                <a
                    href={link.href}
                    class="text-gray-100 hover:text-gray-300 text-base lg:text-left text-center transition-colors"
                >
                    {link.title}
                </a>
            ))
        }
    </div>
</div>
