---
export interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props

import Layout from './Layout.astro'
import OtherArticles from '@/components/OtherArticles.astro'
import Subscribe from '@/components/Subscribe.astro'
import Article from '@/components/blog/Article.astro'
---

<Layout
    title={title}
    description={description}
    image="https://thetismedical.com/images/achilles-drawing-image.png"
>
    <main class="flex flex-col gap-4">
        <Article title={title} />
        <slot />
        <OtherArticles />
        <Subscribe />
    </main>
</Layout>
