---
export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

import Layout from "./Layout.astro";
import OtherArticles from "@/components/OtherArticles.astro";
import Article from "@/components/research/Article.astro";
import ShareControls from "@/components/research/ShareControls";
---

<Layout
    title={title}
    description={description}
    image="https://thetismedical.com/images/achilles-drawing-image.png"
>
    <main class="relative flex flex-col gap-4 print:w-full print:max-w-none">
        <Article title={title} />
        <slot />
        <OtherArticles />
        <ShareControls client:load />
    </main>
</Layout>

<style>
    html {
        scroll-behavior: smooth;
    }

    @media print {
        html {
            scroll-behavior: auto;
        }
    }
</style>
