---
import Social from "@/components/icons/socials/Social";
import Slide from "@/components/Slide.astro";
import FooterEmailCTA from "@/components/CTA/FooterEmailCTA.astro";
import Theme from '../components/theme/index.astro'
---

<Slide background="black">
    <div class="footer-words">
      
        <div class="links-row">
            <div class="links-column">
                <h3>Company</h3>
                <a href="../">Home</a>
                <a href="../professionals">Professionals</a>
                <a href="../contact">Contact Us</a>
                <a href="../sitemap">Sitemap</a>
                <h3>Products</h3>
                <a href="../night-splint">Achilles Rupture Night Splint</a>
                <a href="../trauma-splint">Achilles Rupture Trauma Splint</a>
            </div>
            <div class="links-column">
                <h3>Patient Guides</h3>
                <a href="../achilles-ruptures">Achilles Ruptures</a>
                <a href="../FAQs/achilles-rupture-timeline"
                    >Achilles Rupture Timeline</a
                >
                <a href="../FAQs/is-my-achilles-ruptured"
                    >Is my Achilles Ruptured?</a
                >
                <a href="../FAQs/what-happens-if-my-achilles-is-ruptured?"
                    >What happens if my Achilles is ruptured?</a
                >
                <a href="../FAQs/achilles-tear-treatment"
                    >Achilles Tear Treatment</a
                >
                <a href="../FAQs/torn-achilles-recovery"
                    >Torn Achilles Recovery</a
                >
                <a href="../FAQs/life-after-achilles-rupture"
                    >Life After Achilles Rupture</a
                >
                <a href="../evidence-based-recovery">Evidence Based Recovery</a>
            </div>
            <div
                class="flex flex-col items-center lg:items-start space-y-8 lg:space-y-4 my-8"
            >
                <h3>Stay in Touch</h3>

                <FooterEmailCTA />


                <div class="flex gap-x-4 flex-wrap h-fit [&>a]:mt-0">
                    <Social color="white" mode="mail" />
                    <Social color="white" mode="linkedin" />
                    <Social color="white" mode="instagram" />
                    <Social color="white" mode="facebook" />
                </div>
                <a
                    href="mailto:info@thetismedical.com"
                    class="!font-semibold !text-base">info@thetismedical.com</a
                >

            </div>

        </div>
    </div>

    <div class="flex md:flex-row flex-col justify-between items-center mt-8 w-full text-center text-white md:text-left">
         <p class="text-white">
        &copy;Thetis Medical Ltd 2020-2025
    </p>
        <Theme />
    </div>
   
</Slide>
