---
import Image from "astro/components/Image.astro";
import { cn } from "@/lib/utils";
import "@thetis/ui/globals.css";
import NightSplintImage from "@/assets/night-splint/achilles_rupture_night_splint_bed_thetis_medical.jpg";
import { buttonVariants } from "@/components/ui/button";
import AthletesBadges from "@/components/AthletesBadges.astro";
import HighlightedWord from "@/components/HighlightedWord.tsx";
import HoverImageLink from "../components/HoverImageLink.astro";
import ColorGradient from "@/components/ColorGradient.astro";

const benefitsList = ["Clinically Proven", "FDA Approved", "Fast Delivery"];
---

<ColorGradient>
    <div class="mx-auto px-4 container">
        <div
            class="flex lg:flex-row flex-col justify-between items-center gap-8"
        >
            <!-- Left column (text content) -->
            <div class="flex flex-col gap-y-6 lg:pr-16 lg:w-7/12">
                <h1
                    class="font-semibold text-neutral-950 dark:text-neutral-50 text-4xl md:text-6xl leading-[105%] md:leading-[120%]"
                >
                    <HighlightedWord>Better Recovery</HighlightedWord> for Achilles
                    Tendon Rupture
                </h1>

                <p
                    class="text-gray-800 dark:text-neutral-200 text-lg leading-relaxed"
                >
                    Experience breakthrough comfort and proven outcomes with our
                    innovative Achilles splints - trusted by leading healthcare
                    professionals worldwide.
                </p>

                <!-- SMALL SCREENS ONLY -->
                <div class="lg:hidden block relative">
                    <Image
                        src={NightSplintImage}
                        alt="Thetis Medical Achilles Rupture Splint"
                        class="shadow-lg hover:shadow-2xl group-hover:brightness-[0.85] rounded-xl group-hover:scale-[102%] transition-all duration-300"
                    />
                    <a
                        class={cn(
                            buttonVariants({ size: "lg", variant: "default" }),
                            "bottom-4 left-4 absolute",
                        )}
                        href="/buy-now">Buy Now</a
                    >
                </div>

                <!-- LARGE SCREENS ONLY -->
                <div class="hidden lg:flex sm:flex-row flex-col gap-4">
                    <a
                        class={cn(
                            buttonVariants({ size: "lg", variant: "default" }),
                        )}
                        href="/buy-now">Buy Now</a
                    >
                    <a
                        href="/order-wholesale"
                        class={cn(
                            buttonVariants({ size: "lg", variant: "outline" }),
                            "w-full sm:w-auto text-center",
                        )}
                    >
                        Wholesale
                    </a>
                </div>

                <div
                    class="flex flex-row flex-wrap items-start sm:items-center gap-x-4 gap-y-2 px-2 text-gray-600 text-base"
                >
                    {
                        benefitsList.map((benefit) => (
                            <div class="flex items-center gap-2">
                                <span class="text-neutral-700 dark:text-neutral-300">
                                    &#10003;
                                </span>
                                {benefit}
                            </div>
                        ))
                    }
                </div>

                <div class="pt-8 md:pt-2">
                    <AthletesBadges />
                </div>
            </div>

            <!-- Right column (image) -->
            <HoverImageLink
                image={NightSplintImage}
                imageAlt="Thetis Medical Achilles Rupture Splint"
                title="Splint"
                description="Sleep comfortably while your achilles rupture heals."
                linkText="Order Now"
                linkHref="/night-splint"
                className="hidden lg:block lg:w-5/12"
            />
        </div>
    </div>
</ColorGradient>
