---
export interface Props {
  title: string;
  description: string;
  image?: string;
  bodyClass?: string;
  hideFooter?: boolean;
  logoColor?: "black" | "white";
  name?: string;
}

import { cn } from "../lib/utils";

const { title, description, image, bodyClass, hideFooter, logoColor } =
  Astro.props;

import GoogleTagHead from "./GoogleTagHead.astro";
import GoogleTagBody from "./GoogleTagBody.astro";
import BaseHead from "./BaseHead.astro";
import Nav from "./Nav.astro";
import Footer from "@/features/footer/Footer.astro";
import ShopifyBuyButton2 from "../components/ShopifyBuyButton2.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
        <GoogleTagHead />
        <BaseHead title={title} description={description} image={image} />
        <slot name="head" />
    </head>

    <body class={cn(bodyClass, 'pt-10 overflow-y-auto overflow-x-hidden')}>
        <GoogleTagBody />
        <ShopifyBuyButton2 />

        <Nav />
        <slot />
        {!hideFooter && <Footer />}
        <script type="text/partytown" src="@/services/lucide.ts"></script>
        <script type="text/partytown" src="@/services/location"></script>
        <script
            is:inline
            defer
            type="text/partytown"
            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
        ></script>

   <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    </body>
</html>
