---
import { buttonVariants, Button } from "../components/ui/button";
import { DesktopNav } from "./DesktopNav.tsx";
import { MobileNav } from "./MobileNav.tsx";
import { cn } from "../lib/utils";
import Thetis from "./Thetis.tsx";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import type { Lang } from "@/config/languages";

export interface Props {
    lang: Lang;
}

const { lang = "en" } = Astro.props as Props;

const content = {
    en: {
        buyNow: "Buy Now",
    },
    de: {
        buyNow: "Jetzt kaufen",
    },
    fr: {
        buyNow: "Acheter maintenant",
    },
    es: {
        buyNow: "Comprar ahora",
    },
    it: {
        buyNow: "Compra ora",
    },
};

const t = content[lang];
---

<header
    class="top-0 z-[40] fixed flex bg-background m-auto my-auto px-2 lg:px-8 py-4 border-gray-300 border-b w-screen item-center"
>
    <div class="hidden lg:flex justify-between items-center gap-x-6 w-full">
        <Thetis />
        <div class="flex justify-center items-center gap-x-4 ml-auto text-base">
            <DesktopNav client:load lang={lang} />
            <LanguageSwitcher />
        </div>
    </div>

    <div class="lg:hidden flex justify-between items-center w-full">
        <Thetis />
        <div class="flex gap-x-2">
            <a
                class={buttonVariants({ variant: "default", size: "sm" })}
                href="/buy-now">{t.buyNow}</a
            >
            <LanguageSwitcher />
            <MobileNav client:load lang={lang} />
        </div>
    </div>
</header>
