---
import { buttonVariants, Button } from "../components/ui/button";
import { DesktopNav } from "./DesktopNav.tsx";
import { MobileNav } from "./MobileNav.tsx";
import { cn } from "../lib/utils";
import Thetis from "./Thetis.tsx";
---

<header
    class="top-0 z-[40] fixed flex bg-background item-center m-auto my-auto px-2 lg:px-8 py-4 border-gray-300 border-b w-screen"
>
    <div class="hidden lg:flex justify-between items-center gap-x-6 w-full">
        <Thetis />
        <div class="flex justify-center items-center gap-x-6 ml-auto text-base">
            <DesktopNav client:load />
            <a
                href="/contact"
                class={cn(
                    buttonVariants({ variant: 'outline', size: 'md' }),
                )}><span class="font-semibold text-nowrap">Contact Us</span></a
            >
            <a
                href="/buy-now"
                class={cn(
                    buttonVariants({ variant: 'default', size: 'md' }),
                )}><span class="font-semibold text-nowrap">Buy Now</span></a
            >
        </div>
    </div>

    <div class="lg:hidden flex justify-between items-center w-full">
        <Thetis />
        <div class="flex gap-x-2">
            <MobileNav client:load />
        </div>
    </div>
</header>
