---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const normalizedPathname =
	pathname.endsWith("/") && pathname !== "/"
		? pathname.slice(0, -1)
		: pathname;
const normalizedHref =
	href.endsWith("/") && href !== "/" ? href.slice(0, -1) : href;

// Check if active: exact match or if href matches the first segment of pathname
const subpath = normalizedPathname.match(/[^\/]+/g);
const firstSegment = subpath?.[0] ? `/${subpath[0]}` : "/";
const isActive =
	normalizedHref === normalizedPathname || normalizedHref === firstSegment;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
