---
import { ArrowRight } from "lucide-astro";
---

<section
class="bg-purple-100 hover:bg-purple-200 border border-purple-300 rounded-full mx-auto px-4"
>
<div class="flex justify-between items-center">
    <a
        href="/survival-kit"
        target="_blank"
        class="inline-flex items-center px-4 py-2 gap-2 items-center rounded-lg font-semibold text-purple-600 text-sm transition-colors"
    >
        <p class="mb-0 font-medium text-sm">
            Achilles Rupture Survival Kit
        </p>

        <ArrowRight class="w-4 h-4" />
    </a>
</div>
</section>