---
import { Image } from "astro:assets";

export interface Props {
    step: string;
    text: string;
    imageSrc: string;
    imageAlt: string;
}

const { step, text, imageSrc, imageAlt } = Astro.props;
---

<div class="flex md:flex-row flex-col items-start">
    <p class="my-8 md:max-w-60 text-lg">
        <span class="font-semibold text-primary">Step {step}.</span>
        {text}
    </p>
    <Image src={imageSrc} alt={imageAlt} width={300} height={400} />
</div>
