---
import FAQsLayout from '../../layouts/FAQsLayout.astro'
---

<FAQsLayout
    title="Life After Achilles Rupture"
    description="A comprehensive guide on life after Achilles rupture including when you can restart walking, working and playing sport."
>
    <section id="faq-slide" class="faq slide">
        <div class="questions">
            <h2>Find your answer:</h2>
            <a href="#q1">
                <h3>Life after Achilles tendon rupture</h3>
            </a>
            <a href="#q2">
                <h3>When can I play sport again?</h3>
            </a>
            <a href="#q3">
                <h3>When can I go back to physical work?</h3>
            </a>
            <a href="#q4">
                <h3>When can I walk after Achilles rupture?</h3>
            </a>
            <a href="#q5">
                <h3>How to avoid re-rupture</h3>
            </a>
        </div>
        <div class="answers">
            <div id="q1"></div>
            <h2>Life after Achilles tendon rupture</h2>
            <p>
                Properly treated, Achilles tendon ruptures heal very well.
                However, full recovery takes a very long time. You can expect to
                be in a boot or similar support for about 10 weeks. After this
                it takes many months to regain the muscle strength. If you ask
                someone who has been through all this, they will say that they
                were limited in activities for at least 6 months and that full
                recovery takes about a year.<br /><br />
                Even in the long-term, the calf muscle on the injured side is a little
                smaller than it used to be – but still strong enough to work normally.<br
                /><br />
                Similarly, the healed tendon remains thicker than it once was. This
                improves with time (months to years) but the tendon never quite gets
                as slim as it was before injury.
            </p>
            <div id="q2"></div>
            <h2>When can I play sport again?</h2>
            <p>
                This depends upon the sport, but most rehabilitation programs
                reach the point where you can resume after 6 months.
            </p>
            <div id="q3"></div>
            <h2>When can I go back to physical work?</h2>
            <p>
                This depends upon the precise nature of the work, but most
                rehabilitation programs reach the point where you can resume
                after 6 months.
            </p>
            <div id="q4"></div>
            <h2>When can I walk after Achilles rupture?</h2>
            <p>
                Once you are supported in a suitable boot, with the foot held in
                a tip-toe posture, then you can (and should) walk. Crutches are
                only to help with balance. A shoe with a generous heel on the
                other foot helps to even you up. Walking on the injured leg, in
                the boot, is good for the healing. The action of walking helps
                the tendon ends to join in an efficient and strong manner. This
                early walking has led to fewer re-ruptures compared to previous
                regimens, when treatment required months of plaster casts and
                hopping one-legged with crutches.
            </p>
            <div id="q5"></div>
            <h2>How to avoid re-rupture</h2>
            <p>
                Wear the boot as instructed for the full 10 weeks. Don’t take
                any short-cuts. Your recovery is like the game Snakes and
                Ladders (Shutes and Ladders in the US) – each week sees you
                closer to the finish. But one small mistake is like landing on
                the big snake that takes you right back to the beginning, with a
                re-rupture. If you take it off to wash, be seated first;
                maintain the tip-toe posture; do not bend the ankle up to reach
                your toes to wash or dry them. If you are not sufficiently
                flexible get help. Do not assume that you’ll be fine, hopping
                into the shower. One tiny slip can be disastrous.
            </p>
        </div>
    </section>
</FAQsLayout>
