---
import ProsConsSection from "@/components/pros-cons/ProsConsSection.astro";
---

<div class="mx-auto px-4 py-16 max-w-7xl">
    <div class="flex md:flex-row flex-col gap-8 lg:gap-16 lg:px-8">
        <!-- Solution Section -->
        <ProsConsSection
            type="positive"
            title="Pre Surgery"
            description="Quick to apply and no training required means easy scanning and quick time to diagnosis."
            items={[
                "Quick to Apply",
                "No Training Required",
                "Removable for Hygiene",
                "Durable",
            ]}
        />

        <!-- Solution Section -->
        <ProsConsSection
            type="positive"
            title="During Recovery"
            description="The splint's breathable materials and anatomical shape ensures comfort while maintaining proper foot position. Perfect for sleeping and resting during recovery."
            items={[
                "Breathable & Cool",
                "Anatomically Contoured",
                "Ultra-Lightweight",
                "Slim & Comfortable",
            ]}
        />
    </div>
</div>
