---
import HighlightedWord from "../../HighlightedWord";
import BulkOrders from "../../buy-button/BulkOrders";
import FreeAndSecure from "../../buy-button/FreeAndSecure";
import CheckWithCareTeam from "../../buy-button/CheckWithCareTeam";
import BuyButtonVariants from "../buy-button/BuyButtonVariants.tsx";
import { Image } from "astro:assets";
import ColorGradient from "@/components/ColorGradient.astro";
import nightSplint from "@/components/products/images/night-splint/night_splint_bed_top_square.jpg";
import ReviewsLink from "../../ReviewsLink";
import WorkInHealthcare from "./WorkInHealthcare.astro";
---

<ColorGradient>
  <div class="mx-auto px-4 max-w-7xl text-center">
    <div class="lg:hidden flex flex-col gap-4">
      <h1
        class="mb-6 mx-w-4xl font-semibold text-gray-900 text-4xl md:text-5xl leading-[105%] md:leading-[120%]"
      >
        The <HighlightedWord>Only</HighlightedWord> Splint for Achilles Tendon <HighlightedWord
          >Rupture</HighlightedWord
        >
      </h1>
      <p class="mx-auto mb-8 max-w-3xl text-gray-700 text-xl">
        Finally, a comfortable solution for sleep. Designed alongside surgeons
        to protect your healing Achilles while you get the rest you need.
      </p>
    </div>
    <div class="flex lg:flex-row flex-col gap-4 lg:gap-8 my-2">
      <Image
        height={1000}
        width={666}
        class="relative shadow-lg group-hover:shadow-xl rounded-lg w-full lg:max-w-[45vw] h-full max-h-[100vw] object-cover group-hover:scale-[102%] transition-all duration-300"
        src={nightSplint}
        alt="Splint Render"
      />

      <div class="space-y-2 w-full text-left">
        <div class="hidden lg:flex flex-col gap-6">
          <h1
            class="mx-w-4xl font-semibold text-gray-900 text-4xl md:text-5xl leading-[105%] md:leading-[120%]"
          >
            The <HighlightedWord>Only</HighlightedWord> Splint for Achilles Tendon
            <HighlightedWord>Rupture</HighlightedWord>
          </h1>
          <p class="mx-auto max-w-3xl text-gray-700 text-xl">
            Finally, a comfortable solution for sleep. Designed alongside
            surgeons to protect your healing Achilles tendon while you get the
            rest you need.
          </p>
        </div>
        <ReviewsLink size="lg" />
        <CheckWithCareTeam className="mt-2" client:load />
        <BuyButtonVariants client:load />
      </div>
    </div>
    <div class="flex flex-col gap-16 pt-8">
      <FreeAndSecure />
      <WorkInHealthcare />
    </div>
  </div>
</ColorGradient>
