---
import HighlightedWord from '../../HighlightedWord';
import BuyNightSplint from '../../BuyNightSplint.astro';
---

<section class="bg-gradient-to-b from-primary/20 to-white mt-0 pt-32 pb-16 hero-section">
    <div class="mx-auto text-center container">
        <h1 class="mb-6 lg:px-24 font-semibold text-4xl text-gray-900 md:text-5xl">
            The <HighlightedWord>Only</HighlightedWord> Night Splint for Achilles Tendon <HighlightedWord>Rupture</HighlightedWord>
        </h1>
        <p class="mx-auto mb-8 max-w-3xl text-gray-700 text-xl">
            Finally, a comfortable solution for nighttime recovery. Designed alongside surgeons to protect your healing Achilles while you rest.
        </p>
        <BuyNightSplint client:load />
    </div>
</section>