---
import HighlightedWord from '../../HighlightedWord';
import BuyNightSplint from '../../BuyNightSplint.tsx';
import BulkOrders from '../../buy-button/BulkOrders';
import FreeAndSecure from '../../buy-button/FreeAndSecure';
import BuyButtonVariants from '../buy-button/BuyButtonVariants.tsx';
import { Image } from 'astro:assets';
import nightSplint from "@/components/products/images/night-splint/night_splint_bed_top.jpg";

---

<section class="bg-gradient-to-b from-primary/20 to-white mt-0 pt-16 lg:pt-32 pb-16 hero-section">
    <div class="mx-auto px-4 text-center">
        <h1 class="mb-6 lg:px-24 font-semibold text-4xl text-gray-900 md:text-5xl">
            The <HighlightedWord>Only</HighlightedWord> Night Splint for Achilles Tendon <HighlightedWord>Rupture</HighlightedWord>
        </h1>
        <p class="mx-auto mb-8 max-w-3xl text-gray-700 text-xl">
            Finally, a comfortable solution for night-time recovery. Designed alongside surgeons to protect your healing Achilles while you rest.
        </p>
           <div class="flex md:flex-row flex-col gap-4 md:gap-8 my-2">
          <Image
            height={1200}
            width={800}
            class="group-hover:scale-[102%] relative shadow-lg group-hover:shadow-xl rounded-lg w-full lg:max-w-[45vw] h-full transition-all duration-300 object-cover"
            src={nightSplint}
            alt="Night Splint Render"
            
          />

      <div class="space-y-4 w-full text-left">
        
        <BuyButtonVariants client:load />
        <div class="flex flex-col gap-8">
          <FreeAndSecure />
          <BulkOrders  />
        </div>
      </div>
    </div>
    </div>
</section>