---
import { buttonVariants } from "../../../components/ui/button";
---

<div
    class="flex md:flex-row flex-col md:justify-between md:items-center gap-4 bg-primary/10 shadow-sm p-5 border border-primary/30 rounded-lg font-semibold text-primary text-lg"
    role="region"
    aria-label="Healthcare Professional Callout"
>
    <div class="flex items-center gap-3">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-primary"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V4a2 2 0 10-4 0v1.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            ></path></svg
        >
        <span>Work in healthcare? Help your patients recover better:</span>
    </div>
    <div class="flex sm:flex-row flex-col gap-2">
        <a href="/professionals" class={buttonVariants({ variant: "default" })}
            >Learn More</a
        >
        <a
            href="/order-wholesale"
            class={buttonVariants({ variant: "outline" })}>Bulk Order</a
        >
    </div>
</div>
