---
import ProsConsSection from "@/components/pros-cons/ProsConsSection.astro";
---

<div class="mx-auto lg:py-16 space-8">
    <div class="flex md:flex-row flex-col gap-8 lg:gap-16 lg:px-8">

        <!-- Solution Section -->
        <ProsConsSection 
            type="positive"
            title="Our Solution"
            description="Quick to apply and no training required means easy scanning and quick time to diagnosis."
            items={[
                "Quick to Apply",
                "No Training Required",
                "Removable for Hygiene",
                "Durable"
            ]}
        />
    </div>
</div>