---
import { type CollectionEntry, getCollection } from 'astro:content';
import Guide from '../../layouts/Guide.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('guide');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'guide'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Guide {...post.data}>
	<Content />
	<div class="mt-8 text-gray-600 text-lg">
		<a href="https://thetismedical.com/achilles-ruptures" class="hover:underline">
			See Original Articles →
		</a>
	</div>
</Guide>
