---
const year = new Date().getFullYear();
import { Instagram, Facebook, Linkedin, Mail } from 'lucide-astro';
import FormLinks from './FormLinks.astro'
---
<div class="flex flex-col items-center lg:items-start gap-y-12 mx-auto mb-8 p-4 md:p-8 lg:p-16 w-full max-w-2xl">
    <div class="space-y-6">
        <h1 class="font-semibold text-4xl text-gray-800">Get in Touch</h1>
        <FormLinks client:visible/>
    </div>

    <div class="flex flex-col items-center lg:items-start space-y-4">
        <h4 class="font-semibold text-gray-800 text-lg">Get in touch</h4>
        <a href="mailto:info@thetismedical.com" 
           class="flex items-center gap-3 text-gray-600 text-lg hover:text-gray-800 transition-colors">
            <Mail size={24} class="text-primary-600"/>
            info@thetismedical.com
        </a>
    </div>

    <div class="flex flex-col items-center lg:items-start gap-y-4">
        <h4 class="font-semibold text-gray-800 text-lg">Follow us</h4>
        <div class="flex gap-6">
            <a href="https://twitter.com/ThetisMedical" 
               class="text-gray-600 hover:text-primary-600 transition-colors">
                <Linkedin size={24} />
            </a>
            <a href="https://www.instagram.com/thetismedical/" 
               class="text-gray-600 hover:text-primary-600 transition-colors">
                <Instagram size={24} />
            </a>
            <a href="https://www.facebook.com/thetismedical" 
               class="text-gray-600 hover:text-primary-600 transition-colors">
                <Facebook size={24} />
            </a>
        </div>
    </div>
</div>
