---
import { ExternalLink, CircleDot, Circle } from 'lucide-astro';
import { cn } from '@/lib/utils';

const reasons = [
  { text: "Ask a Question", url: "/contact" },
  { text: "Become a Partner", url: "/become-a-partner" },
  { text: "Order Wholesale", url: "/order-wholesale" },
];

const currentUrl = Astro.url.pathname;
---

<ul class="flex flex-col items-center lg:items-start gap-y-4 mt-4 pl-4 text-zinc-600 dark:text-zinc-400 marker:text-zinc-400 list-disc">
  {reasons.map((reason) => (
    <li class={cn("list-none")}>
      {currentUrl === reason.url ? (
        <p class={cn(
          "flex items-center gap-2 text-lg transition-all duration-200",
          "font-semibold text-primary dark:text-primary/90"
        )}>
          <CircleDot size={18} className="text-primary dark:text-primary/90" />
          {reason.text}
        </p>
      ) : (
        <a 
          href={reason.url} 
          class={cn(
            "flex items-center gap-2 text-lg transition-all duration-200",
            "text-zinc-600 dark:text-zinc-400 hover:underline",
            "hover:text-primary dark:hover:text-primary/90"
          )}
        >
          <Circle size={18} className="" />
          {reason.text}
          <ExternalLink size={18} className="group-hover:text-primary dark:group-hover:text-primary/90 text-zinc-400 dark:text-zinc-500" />
        </a>
      )}
    </li>
  ))}
</ul>
