---
import { CheckCircle, Info, AlertTriangle } from "lucide-astro";
---

<section class="py-16 w-full">
    <div class="mx-auto px-4 w-full">
        <h2 class="mb-12 font-semibold text-3xl text-center">When To Use</h2>
        <div class="flex md:flex-row flex-col gap-4 mx-auto max-w-6xl">
            <div
                class="bg-primary/20 shadow-sm mb-6 p-6 border border-primary/30 rounded-lg w-full"
            >
                <h4
                    class="flex flex-row items-center gap-2 mb-3 font-semibold text-primary text-xl"
                >
                    <CheckCircle size={20} /> Sleeping
                </h4>
                <p>Replace your boot at night for comfortable sleep.</p>
            </div>

            <div
                class="bg-blue-100 shadow-sm mb-6 p-6 border border-blue-300 rounded-lg w-full"
            >
                <h4
                    class="flex flex-row items-center gap-2 mb-3 font-semibold text-blue-600 text-xl"
                >
                    <Info size={20} /> Resting
                </h4>
                <p>Use when resting during the day and not walking.</p>
            </div>

            <div
                class="bg-amber-100 shadow-sm mb-6 p-6 border border-amber-300 rounded-lg w-full"
            >
                <h4
                    class="flex flex-row items-center gap-2 mb-3 font-semibold text-amber-600 text-xl"
                >
                    <AlertTriangle size={20} /> Important
                </h4>
                <p>
                    Do not walk in this splint. Wait 2 weeks post-surgery before
                    use.
                </p>
            </div>
        </div>
    </div>
</section>
