---
import AspenPromedSlide from "./AspenPromedSlide.astro";
import { ASPEN_PROMED_DECK_SLIDE_COUNT } from "@/features/oped-deck/aspenPromedDeckPitchContent";

interface Props {
  initialPage: number;
}

const { initialPage } = Astro.props;
---

{
  Array.from({ length: ASPEN_PROMED_DECK_SLIDE_COUNT }, (_, index) => {
    const page = index + 1;
    return (
      <div
        data-oped-slide={page}
        class="oped-slide-panel"
        hidden={page !== initialPage}
      >
        <AspenPromedSlide page={page} />
      </div>
    );
  })
}
