---
import BauerfeindSlide from "./BauerfeindSlide.astro";
import { BAUERFEIND_DECK_SLIDE_COUNT } from "@/features/oped-deck/bauerfeindDeckPitchContent";

interface Props {
  initialPage: number;
}

const { initialPage } = Astro.props;
---

{
  Array.from({ length: BAUERFEIND_DECK_SLIDE_COUNT }, (_, index) => {
    const page = index + 1;
    return (
      <div
        data-oped-slide={page}
        class="oped-slide-panel"
        hidden={page !== initialPage}
      >
        <BauerfeindSlide page={page} />
      </div>
    );
  })
}
