---
import AnimatedModal from "./AnimatedModal.astro";
// import { Button } from "@/components/ui/button";
import BuyNightSplint from "./BuyNightSplint";
---

<AnimatedModal
  triggerId="buy-modal-trigger"
  modalId="buy-modal"
  triggerClass=""
  size="lg"
  variant="default"
>
  <span slot="trigger">Buy Now</span>
  
  <div slot="content">
    <BuyNightSplint />  
  </div>

</AnimatedModal>