---
import StarRating from "@/components/reviews/StarRating.astro";
import BuyButtonVariants from "./products/buy-button/BuyButtonVariants";
import nightSplint from "@/components/products/images/night-splint/night_splint_bed_top.jpg";
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import { Shield, CheckCircle, ArrowRight } from "lucide-astro";
---



<div class="flex md:flex-row flex-col gap-4 md:gap-8 my-2">
  <div class="relative lg:w-1/2 h-[600px] group">
  <div class="absolute inset-0 bg-gray-200 rounded-lg animate-pulse"></div>
  <Image
    height={1200}
    width={800}
    quality={100}
    class="group-hover:scale-[102%] relative shadow-lg group-hover:shadow-xl rounded-lg w-full h-full transition-all duration-300 object-cover"
    src={nightSplint}
    alt="Night Splint Render"
    onload="this.previousElementSibling.style.display='none'"
  />
</div>
  <div class="space-y-4 text-left">
    <h3 class="font-semibold text-2xl lg:text-3xl">
      Achilles Tendon Rupture Night Splint
    </h3>
    <StarRating rating={4.5} showNumber={false} />
    <BuyButtonVariants client:load />
    <div class="flex flex-col gap-4 md:gap-8">
    <div class="gap-4 grid grid-cols-2 mt-auto text-primary text-sm">
        <div class="flex items-center gap-2">
          <CheckCircle size={20} />
          <span class="text-left text-neutral-800">Free Shipping</span>
        </div>
        <div class="flex items-center gap-2">
          <Shield size={20} />
          <span class="text-left text-neutral-800">Secure Payment</span>
        </div>
      </div>

      <Button asChild variant="ghost" size="lg">
        <a class="flex flex-row items-center gap-2" href="/bulk-orders">
          <span>Bulk Orders & Special Pricing</span>
          <ArrowRight size={16} />
        </a>
      </Button>
      </div>
  </div>
   


      </div>