---
import StarRating from "@/components/reviews/StarRating.astro";
import BuyButtonVariants from "./products/buy-button/BuyButtonVariants";
import nightSplint from "@/components/products/images/night-splint/night_splint_bed_top.jpg";
import { Image } from "astro:assets";
---

<div class="flex md:flex-row flex-col gap-4 md:gap-8 my-2">
  <div class="relative lg:w-1/2 group">
    <div class="absolute inset-0 bg-gray-200 rounded-lg animate-pulse"></div>
    <Image
      height="500"
      width="350"
      class="group-hover:scale-[102%] relative shadow-lg group-hover:shadow-xl rounded-lg w-full transition-all duration-300 object-contain"
      src={nightSplint}
      alt="Night Splint Render"
      onload="this.previousElementSibling.style.display='none'"
    />
  </div>
  <div class="space-y-4 text-left">
    <h3 class="font-semibold text-2xl lg:text-3xl">
      Achilles Tendon Rupture Night Splint
    </h3>
    <StarRating rating={4.5} showNumber={false} />
    <BuyButtonVariants client:load />
  </div>
</div>