---
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<section>
   <div class="bg-gradient-to-t from-primary/20 to-white h-12"></div>
   <div class={cn("bg-primary/20 py-8", className)}>
      <slot />
   </div>
   <div class="bg-gradient-to-b from-primary/20 to-white h-12"></div>
</section>
