<section>
  <div class="other-articles">
    <a href="../night-splint" class="explore article-to-night-splint"
      >Achilles Rupture Night Splint</a
    >
  </div>
  <div class="other-articles">
    <a href="../achilles-ruptures">
      <h3>More Articles</h3>
    </a>
  </div>
</section>
