<section class="flex flex-col gap-4 px-8 py-24">
  <div class="text-xl text-center underline underline-offset-4">
    <a href="../achilles-ruptures">
      <h3>More Articles on Achilles Rupture Recovery</h3>
    </a>
  </div>
</section>
