<section class="flex flex-col gap-4">
  <div class="other-articles">
    <a href="../night-splint" class="article-to-night-splint explore"
      >Achilles Rupture Night Splint</a
    >
  </div>
  <div class="text-center text-xl underline underline-offset-4">
    <a href="../achilles-ruptures">
      <h3>More Articles</h3>
    </a>
  </div>
</section>
