---
const { title, author } = Astro.props
---

<div class="relative border-2 border-black mx-8 mt-16">
    <img
        class="h-16 w-16 absolute -top-8 -left-8"
        loading="lazy"
        src="/images/quote-mark.svg"
        alt="quote-mark"
    />
    <div
        class="py-12 px-6 gap-y-4 flex flex-col items-center justify-center text-center"
    >
        <h4 class="text-lg font-normal">{title}</h4>
        <div class="h-[2px] bg-black w-full"></div>
        <h3 class="text-lg font-semibold text-gray-700">{author}</h3>
    </div>
</div>
