---
const { id, size, background, title, paragraph, className } = Astro.props;

import { cva } from "class-variance-authority";
import { cn } from "@/lib/utils";
import SlideTitle from "./SlideTitle.astro";

const outerVariants = cva("relative w-full", {
  variants: {
    background: {
      default: "",
      black: "bg-black",
      gray: "bg-gray-100",
      green: "bg-primary/30",
      light: "bg-primary/15",
      dark: "bg-primary/50",
    },
  },
  defaultVariants: {
    background: "default",
  },
});

const innerVariants = cva("mx-auto px-4 py-16 container", {
  variants: {
    size: {
      default: "max-w-[1200px]",
    },
  },
  defaultVariants: {
    size: "default",
  },
});
---

<section class={cn(outerVariants({ background, className }))}>
    <div class={cn(innerVariants({ size, className }))}>
        <div id={id}></div>
        {title && <SlideTitle title={title} />}
        <div class="flex flex-col gap-6">
            {
                paragraph && (
                    <p class="max-w-[800px] text-gray-700 text-lg leading-relaxed">{paragraph}</p>
                )
            }
            <slot />
        </div>
    </div>
</section>
