---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="border-neutral-300 border-t w-full">
    <h2
        class="py-4 w-full font-semibold text-2xl leading-normal"
    >
        {title}
    </h2>
</div>
