---
export interface Props {
    name: string
    description: string
    image: string
}

const { name, description, image } = Astro.props
---

<div class="w-full md:w-7/12 mx-auto my-4 p-8 border-2 border-black">
    <p>
        <slot />
        <div class="flex gap-x-2 mt-4 items-center justify-start my-auto">
            <img
                class="h-12 w-12 lg:w-16 lg:h-16 mr-4"
                loading="lazy"
                src={'/images/faces/' + image}
                alt={name + ' Photo'}
            />
            <div class="md:text-lg">
                <h4 class="font-semibold text-gray-800">{name}</h4>
                <h3 class="font-normal">{description}</h3>
            </div>
        </div>
    </p>
</div>
