---
import { testimonials } from "../data/testimonials.ts";
import Testimonial from "./Testimonial.astro";
import Slide from "./Slide.astro";
---

<Slide title="Testimonials" id="testimonials">
    <div id="more-reviews" />
    <div class="flex flex-wrap justify-center gap-y-8 mx-auto px-2">
        {testimonials.map((testimonial) => (
            <Testimonial
                name={testimonial.name}
                description={testimonial.description}
                image={testimonial.image}
            >
                "{testimonial.quote}"
            </Testimonial>
        ))}
    </div>
</Slide>