---
import { Image } from "astro:assets";

export interface Props {
  name: string;
  description: string;
  image: string;
}

const { name, description, image } = Astro.props;
---

<div class="border-neutral-300 shadow-lg mx-auto p-8 border rounded-xl w-full md:w-7/12">
    <p>
        <slot />
        <div class="flex justify-start items-center gap-x-4 mt-4">
            <Image
                class="shadow-md rounded-full w-12 lg:w-16 h-12 lg:h-16"
                src={image}
                alt={`${name}_photo`}
            />
            <div class="md:text-lg">
                <h4 class="font-semibold text-gray-800">{name}</h4>
                <h3 class="font-normal text-base text-gray-600">{description}</h3>
            </div>
        </div>
    </p>
</div>
