---
import Layout from "@/layouts/Layout.astro";
import Article from "@/components/research/Article.astro";
import FAQSection from "@/components/research/FaqSection.astro";
import DownloadList from "@/components/DownloadList.astro";
import NightSplintAdvert from "../../../components/products/night-splint/NightSplintAdvert.astro";

const faqSections = [
    {
        title: "Achillessehnenriss Heilungsverlauf",
        links: [
            {
                href: "./FAQs/achillessehnenriss-heilungsverlauf",
                text: "Achillessehnenriss Heilungsverlauf",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-heilungsverlauf",
    },
    {
        title: "Ist meine Achillessehne gerissen?",
        links: [
            {
                href: "./FAQs/achillessehnenriss-erkennen#q1",
                text: "Ist meine Achillessehne gerissen?",
            },
            {
                href: "./FAQs/achillessehnenriss-erkennen#q2",
                text: "Was passiert wenn die Achillessehne reißt?",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-erkennen",
    },
    {
        title: "Was passiert wenn meine Achillessehne gerissen ist?",
        links: [
            {
                href: "./FAQs/achillessehnenriss-folgen#q1",
                text: "Was passiert sofort nach einem Achillessehnenriss?",
            },
            {
                href: "./FAQs/achillessehnenriss-folgen#q2",
                text: "Wie fühlt sich ein Achillessehnenriss an?",
            },
            {
                href: "./FAQs/achillessehnenriss-folgen#q3",
                text: "Kann ich mit einem gerissenen Achilles gehen?",
            },
            {
                href: "./FAQs/achillessehnenriss-folgen#q4",
                text: "Wie wird ein Achillessehnenriss behandelt?",
            },
            {
                href: "./FAQs/achillessehnenriss-folgen#q5",
                text: "Brauche ich eine Operation?",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-folgen",
    },
    {
        title: "Achillessehnenriss Behandlung",
        links: [
            {
                href: "./FAQs/achillessehnenriss-behandlung#q1",
                text: "Wie behandelt man einen Achillessehnenriss – Operation vs konservativ?",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q2",
                text: "Wie lange kann man mit einer Achillessehnen-OP warten?",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q3",
                text: "Wie lange dauert eine Achillessehnen-Operation?",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q4",
                text: "Erholung nach Achillessehnenriss-Operation",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q5",
                text: "Schmerzen nach Achillessehnenriss / Operation",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q6",
                text: "Fersenschmerzen",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q7",
                text: "Wadenschmerzen",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q8",
                text: "Wadenkrampf",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q9",
                text: "Knieschmerzen",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q10",
                text: "Nervenschmerzen",
            },
            {
                href: "./FAQs/achillessehnenriss-behandlung#q11",
                text: "Narbenheilung nach Operation",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-behandlung",
    },
    {
        title: "Achillessehnenriss Genesung",
        links: [
            {
                href: "./FAQs/achillessehnenriss-genesung#q1",
                text: "Gehgips vs Stiefel",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q2",
                text: "Welcher Achillessehnenriss-Stiefel ist der beste?",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q3",
                text: "Wie schläft man mit gerissenem Achilles?",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q4",
                text: "Wie lange dauert die Heilung eines Achillessehnenrisses?",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q5",
                text: "Erholungszeit mit und ohne Operation?",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q6",
                text: "Teilriss der Achillessehne Genesung",
            },
            {
                href: "./FAQs/achillessehnenriss-genesung#q7",
                text: "Achillessehnen Erholung/Reha Übungen",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-genesung",
    },
    {
        title: "Achillessehnenriss Rehabilitation",
        links: [
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q1",
                text: "Achilles-Reha-Zeitplan – was passiert jede Woche?",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q2",
                text: "Wann kann ich mit der Physiotherapie beginnen?",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q3",
                text: "Wann ist es sicher, Gewicht auf meinen Fuß zu legen?",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q4",
                text: "Beste Heimübungen nach einem Achillessehnenriss",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q5",
                text: "Wann kann ich wieder Auto fahren?",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q6",
                text: "Wie komme ich vom Gehen zum Laufen?",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q7",
                text: "Produkte, die die Reha erleichtern",
            },
            {
                href: "./FAQs/achillessehnenriss-rehabilitation#q8",
                text: "Top-Tipps zur Vermeidung eines erneuten Risses",
            },
        ],
        readMoreLink: "./FAQs/achillessehnenriss-rehabilitation",
    },
    {
        title: "Leben nach Achillessehnenriss",
        links: [
            {
                href: "./FAQs/leben-nach-achillessehnenriss#q1",
                text: "Leben nach Achillessehnenriss",
            },
            {
                href: "./FAQs/leben-nach-achillessehnenriss#q2",
                text: "Wann kann ich wieder Sport treiben?",
            },
            {
                href: "./FAQs/leben-nach-achillessehnenriss#q3",
                text: "Wann kann ich wieder körperlich arbeiten?",
            },
            {
                href: "./FAQs/leben-nach-achillessehnenriss#q4",
                text: "Wann kann ich nach einem Achillessehnenriss wieder gehen?",
            },
            {
                href: "./FAQs/leben-nach-achillessehnenriss#q5",
                text: "Wie vermeidet man einen erneuten Riss",
            },
        ],
        readMoreLink: "./FAQs/leben-nach-achillessehnenriss",
    },
];

const downloads = [
    {
        href: "/images/documents/A Game of Snakes and Ladders Poster.pdf",
        title: "Schlangen und Leitern Poster",
    },
    {
        href: "/images/documents/Achilles Rupture Information Sheet.pdf",
        title: "Achillessehnenriss Informationsblatt",
    },
];
---

<Layout
    title="Achillessehnenriss FAQs"
    description="Ein umfassender Leitfaden zum Achillessehnenriss mit Fragen zum Heilungsverlauf, Diagnose, Behandlung und Erholung."
    image="https://thetismedical.com/images/achilles-drawing-image.png"
>
    <main>
        <Article title="Achillessehnenriss FAQs" />

        <div class="space-y-8 mx-auto max-w-4xl">
            {
                faqSections.map((section, index) => (
                    <FAQSection
                        title={section.title}
                        links={section.links}
                        readMoreLink={section.readMoreLink}
                    />
                ))
            }

            <NightSplintAdvert />

            <section class="bg-white mt-8">
                <DownloadList title="Downloads" downloads={downloads} />
            </section>
        </div>
    </main>
</Layout>
